*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.some1 a {
  position: relative;
  line-height: 1.5rem /* 24px */;
}

.some1 a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #5fa0fb;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}

.some1 a:hover {
  color: #5fa0fb;
}

.some1 a:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

#footer-contact a {
  text-decoration: none;
}
