---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="About me"
  description="About the creator of the portfolio"
  ogtitle="SRP portfolio - about me"
  ogdescription="About the creator of the portfolio"
>
  <section
    id="about-me"
    class="grid grid-cols-12 md:mt-desktop-top mt-mobil-top md:pt-16 pt-8 md:px-4 px-8 mx-auto relative container max-w-6xl md:text-left text-center"
  >
    <!-- Intro Section -->
    <div class="relative md:col-span-12 col-start-2 col-span-10">
      <h1 id="more-about-me-title" class="font-bold md:text-left text-center text-gray-50">About me</h1>
    </div>
  </section>

  <!-- Personal Background Section -->
  <section id="personal-background" class="container grid grid-cols-12 md:pt-0 max-w-6xl mx-auto">
    <hr class="border-gray-700 md:my-12 my-8 md:col-span-12 col-start-2 col-span-10" />
    <div class="flex flex-col lg:flex-row items-center justify-center md:col-span-12 col-start-2 col-span-10">
      <div class="flex flex-col lg:flex-row items-center">
        <div class="relative">
          <h3 class="md:text-h4-desktop text-h4-mobile font-bold text-gray-50">Creativity has always been a part of me..</h3>
          <p class="mt-4 text-gray-100">
            I've always loved being creative. From a young age, I've enjoyed drawing, painting, and crafting&mdash; just everything that spelled
            "creativity". I knew deep down that, when I grew up, I wanted to make it a career. As I became older, however, I also started to become
            interested in technology. And now wanting a career that combined both that and creativity, I struggled to find the right thing.<br />
            <img
              src="/images/pfp3.webp"
              alt="portrait of Sara"
              loading="lazy"
              class="w-48 h-48 md:w-[300px] md:h-[300px] rounded-full shadow-drop25 object-cover float-right ml-12 mt-8 mb-4 shape-circle"
            /><br />
          </p>
          <p class="text-gray-100">
            After first having gone through high school, folk high school and singular courses, I eventually stumbled upon multimedia-design through
            an open-house event that I attended. It was a degree that combined both creativity and technology, and I knew right away that it was the
            right fit for me. <br />Through my studies, I quickly realised the important role that accessibility played in digital design. Having been
            late-diagnosed with autism gave me firsthand-insight into the challenges of navigating a world that isn't always accessible to everyone.
            So that became my goal&mdash; to create digital experiences that remove barriers and ensure inclusivity for all. <br /><br />With
            accessibility at the core of my work, I strive to design engaging, user-friendly platforms that make a difference. Every project is an
            opportunity to merge creativity with purpose, and I look forward to growing, innovating, and shaping a more inclusive digital world.
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- Interests & Hobbies Section -->
  <div id="interests" class="md:mt-desktop-top mt-mobil-top">
    <section class="container max-w-6xl mx-auto flex items-center justify-center">
      <div>
        <h3 class="font-bold text-gray-50">Interests & hobbies</h3>
        <div class="grid md:grid-cols-2 grid-cols-1 mt-12 gap-12">
          <!-- Interest Item 1 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full bg-blue-700 p-8 rounded-[5px] shadow-drop25">
              <h4 class="text-xl font-semibold text-gray-50">Reading</h4>
              <p class="text-gray-100">
                Books are my gateway to new worlds, where I can immerse myself in different genres and explore fascinating stories.
              </p>
            </div>
          </div>
          <!-- Interest Item 2 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full bg-blue-700 p-8 rounded-[5px] shadow-drop25">
              <h4 class="text-xl font-semibold text-gray-50">Gaming</h4>
              <p class="text-gray-100">
                Gaming is a way for me to experience incredible stories and challenges, all while having fun in virtual spaces.
              </p>
            </div>
          </div>
          <!-- Interest Item 3 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full bg-blue-700 p-8 rounded-[5px] shadow-drop25">
              <h4 class="text-xl font-semibold text-gray-50">Crafting & DIY</h4>
              <p class="text-gray-100">
                I enjoy getting creative with DIY projects, whether it's drawing, making keychains, or crafting something unique.
              </p>
            </div>
          </div>
          <!-- Interest Item 4 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full bg-blue-700 p-8 rounded-[5px] shadow-drop25">
              <h4 class="text-xl font-semibold text-gray-50">YouTube content</h4>
              <p class="text-gray-100">
                I find great inspiration and entertainment through YouTube&mdash; whether it's about tech, movies, or games.
              </p>
            </div>
          </div>
          <!-- Interest Item 5 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full bg-blue-700 p-8 rounded-[5px] shadow-drop25">
              <h4 class="text-xl font-semibold text-gray-50">Watching movies & TV series</h4>
              <p class="text-gray-100">
                Watching movies and TV series gives me the chance to unwind, discover new stories, and explore a variety of genres.
              </p>
            </div>
          </div>
          <!-- Interest Item 6 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full bg-blue-700 p-8 rounded-[5px] shadow-drop25">
              <h4 class="text-xl font-semibold text-gray-50">Photography</h4>
              <p class="text-gray-100">
                Through photography, I capture moments and scenes that inspire me, allowing me to preserve the beauty of the world around me.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Resources Section -->
  <div id="resources" class="md:mt-desktop-top mt-mobil-top">
    <section id="resources" class="container max-w-6xl mx-auto md:py-6 md:px-2 py-4 px-8">
      <div>
        <h3 class="font-bold text-gray-50">Resources</h3>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-8 mt-8">
          <!-- Resource Item -->
          <div class="flex flex-col md:items-center items-start bg-blue-700 p-6 rounded-[5px] shadow-drop25">
            <h4 class="text-xl font-semibold text-gray-50">Resume (EN)</h4>
            <p class="text-gray-100 mt-2 md:text-center text-left">Look through my resume to get an overview of my professional background.</p>
            <a class="mt-4 btn_container" href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:3fb15420-6acd-4cc6-b38b-11478bb6eef8">
              <Button variant="primary" size="small">See more</Button>
            </a>
          </div>
          <!-- Resource Item -->
          <div class="flex flex-col md:items-center items-start bg-blue-700 p-6 rounded-[5px] shadow-drop25">
            <h4 class="text-xl font-semibold text-gray-50">Resume (DA)</h4>
            <p class="text-gray-100 mt-2 md:text-center text-left">Kig mit CV igennem for at få en oversigt over min professionelle baggrund.</p>
            <a class="mt-4 btn_container" href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:bcc2546f-db89-4116-8fce-c76a76a1c056">
              <Button variant="primary" size="small">Se mere</Button>
            </a>
          </div>
          <!-- Resource Item -->
          <div class="flex flex-col md:items-center items-start bg-blue-700 p-6 rounded-[5px] shadow-drop25">
            <h4 class="text-xl font-semibold text-gray-50">Application template (EN)</h4>
            <p class="text-gray-100 mt-2 md:text-center text-left">Take a look at what I include when I send out applications.</p>
            <a class="mt-4 btn_container" href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:8d1c4e55-dd87-4809-bd66-702774bd2603">
              <Button variant="primary" size="small">See more</Button>
            </a>
          </div>
          <!-- Resource Item -->
          <div class="flex flex-col md:items-center items-start bg-blue-700 p-6 rounded-[5px] shadow-drop25">
            <h4 class="text-xl font-semibold text-gray-50">Application template (DA)</h4>
            <p class="text-gray-100 mt-2 md:text-center text-left">Tag et kig på hvad jeg inkluderer når jeg sender ansøgninger.</p>
            <a class="mt-4 btn_container" href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:c7a945dd-6222-43db-8899-a0c899158693">
              <Button variant="primary" size="small">Se mere</Button>
            </a>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 pt-16 text-center">
    <a href="/" class="mt-8 btn_container">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>
  <script>
    import { animate, inView } from "motion";
    /*Entrance Animation*/
    animate("body", { opacity: [0, 1] }, { duration: 1 });

    //inView animations

    const elementmedanimation1 = document.querySelector("#more-about-me-title");
    inView(elementmedanimation1, () => {
      elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
    });

    const elementmedanimation2 = document.querySelector("#more-about-me-text");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
    });

    const elementmedanimation3 = document.querySelector("#personal-background");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation4 = document.querySelector("#interests");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation5a = document.querySelector("#resources");
    inView(elementmedanimation5a, () => {
      elementmedanimation5a.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation6 = document.querySelector(".button-container");
    inView(elementmedanimation6, () => {
      elementmedanimation6.classList.add("animate__animated", "animate__fadeInRight");
    });
  </script>

  <style>
    .shape-circle {
      shape-outside: circle();
      clip-path: circle();
    }
  </style>
</MainLayout>
