---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="SRP portfolio | About me"
  description="About Sara and her background"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="Learn more about Sara"
>
  <section
    id="about-me"
    class="grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:mt-16 mt-8 md:px-0 px-8 mx-auto relative container max-w-6xl md:text-left text-center"
  >
    <!-- Intro Section -->
    <div class="relative col-span-12 md:pt-12 pt-16 md:pb-20 pb-8">
      <h1 class="heading-title font-bold md:text-left text-center text-gray-950 mb-8">About me</h1>
      <p class="heading-text text-gray-800 md:pb-0 pb-16 max-w-3xl">
        Read a little bit about me, my background, and who I am. You'll also find the templates that I've used for my resume and applications at the
        very bottom of the page.
      </p>
    </div>
  </section>
  <!-- Personal Background -->
  <section id="personal-background" class="container grid grid-cols-12 md:pt-0 max-w-6xl mx-auto md:px-0 px-6">
    <div class="grid md:grid-cols-2 grid-cols-1 md:items-start items-center justify-center col-span-12">
      <div class="items-center md:pb-0 pb-8">
        <!-- Tabs -->
        <div class="flex gap-2 mb-6 border-b border-gray-300">
          <button
            class="tab-btn px-4 py-2 text-gray-600 border-b-2 border-transparent hover:text-red-700 transition duration-300"
            data-tab="background"
          >
            Background
          </button>
          <button
            class="tab-btn px-4 py-2 text-gray-600 border-b-2 border-transparent hover:text-red-700 transition duration-300"
            data-tab="inspiration"
          >
            Inspiration
          </button>
          <button class="tab-btn px-4 py-2 text-gray-600 border-b-2 border-transparent hover:text-red-700 transition duration-300" data-tab="goals">
            Goals
          </button>
        </div>

        <!-- Tab Content -->
        <div id="background" class="tab-content active text-gray-800">
          <p>
            I've always loved being creative. From a young age, I've enjoyed drawing, painting, crafting&mdash; just everything that spelt <em
              >"creativity"</em
            > in general. I knew deep down that when I grew up, I someday wanted to make that a career. As I became older, however, I also started to become
            interested in technology. And now wanting a career that combined both that and creativity, I struggled to find the right thing. This internal
            conflict between my artistic interests and my growing curiosity about tech kept me searching for a path that could harmonise these two passions.
            It wasn't until I discovered multimedia design that I finally found the answer I'd been looking for.
          </p>
        </div>

        <div id="inspiration" class="tab-content hidden text-gray-800">
          <p>
            As someone who's late-diagnosed with autism, I know what it's like navigating a world that isn't always accessible to everyone. This
            personal experience has shaped my perspective on creating meaningful digital experiences. I'm inspired by the potential of inclusive
            design to create spaces where everyone can thrive. Whether it's through thoughtful color choices, clear navigation, or semantic HTML, I
            find purpose in solving accessibility challenges and seeing how small design decisions can have a meaningful impact on people's lives.
          </p>
        </div>

        <div id="goals" class="tab-content hidden text-gray-800">
          <p>
            My goal is to create digital experiences that are accessible and inclusive for everyone. I believe that good design isn't just about
            aesthetics&mdash; it's about removing barriers and ensuring all users are include. Through my work, I strive to merge creativity with
            purpose, always keeping accessibility and user experience at the forefront. I want to apply my passion for inclusive design in my future
            career and make a real difference in how people interact with digital products.
          </p>
        </div>
      </div>
      <div class="flex items-center justify-start md:justify-end">
        <img
          src="/images/pfp3.webp"
          alt="Portrait of Sara (taken during the internship at Kadaver)"
          class="portrait md:w-[400px] w-[250px] md:h-[450px] h-[300px] object-cover rounded-2xl border-r-4 border border-gray-200"
        />
      </div>
    </div>
  </section>

  <script>
    document.querySelectorAll(".tab-btn").forEach((button) => {
      button.addEventListener("click", () => {
        const tabName = button.getAttribute("data-tab");

        document.querySelectorAll(".tab-btn").forEach((btn) => {
          btn.classList.remove("active", "border-b-red-700", "font-semibold");
          btn.classList.add("border-b-transparent", "text-gray-600");
        });

        document.querySelectorAll(".tab-content").forEach((content) => {
          content.classList.add("hidden");
          content.classList.remove("active");
        });

        button.classList.add("active", "border-b-red-700", "font-semibold");
        button.classList.remove("border-b-transparent", "text-gray-600");

        const content = document.getElementById(tabName);
        content.classList.remove("hidden");
        content.classList.add("active");
      });
    });

    // Set the initial active tab
    document.querySelector(".tab-btn[data-tab='background']").click();
  </script>

  <!-- Timeline -->
  <section id="timeline" class="container max-w-6xl mx-auto md:pt-desktop-top pt-mobil-top md:px-0 px-6">
    <h3 class="text-gray-950 pb-8">My journey so far</h3>
    <div id="timeline-line" class="relative">
      <!-- Timeline items -->
      {
        [
          {
            year: "2017 – 2018",
            title: "Advertisement-distributor | FK Distribution A/S",
            desc: "This was my first actual job that I got during my final year of primary school. Here, I handed out ads in a selected area near my home.",
          },
          {
            year: "2018 – 2019",
            title: "10th grade | Egeskolen",
            desc: "After primary school, I decided to continue studying. It ended up being one of the best decisions of my life.",
          },
          {
            year: "February 2018 – May 2019",
            title: "Shop-assistant u. 18 | Netto, Vanløse",
            desc: "Applied for this job shortly after I quit as an advertisement distributor. I realized retail wasn't my thing.",
          },
          {
            year: "August 2019 – June 2021",
            title: "HF | Egedal Gymnasium & HF",
            desc: "My grades were finally good enough for high school. My main subjects were art, society class and psychology.",
          },
          {
            year: "June 2021 – December 2022",
            title: "Assistant in webshop | Lloyd Concept Store Copenhagen",
            desc: "Order management and cleaning. A good way to keep myself occupied during my gap year.",
            note: "* 6-month leave for Bosei Folk High School",
          },
          {
            year: "January 2022 – June 2022",
            title: "Bosei Sports Folk High School | Gap-year",
            desc: "I studied Japanese—both the language and culture—and also did gaming and sports.",
          },
          {
            year: "August 2022 – May 2023",
            title: "Singular courses | Frederiksberg VUC & STX",
            desc: "I continued studying to improve my grades. I chose Japanese and History courses.",
          },
          {
            year: "August 2023 – June 2025",
            title: "Multimedia Design | KEA",
            desc: "I applied after attending an open-house event at KEA. This is where I learned digital design.",
          },
          {
            year: "January 2025 – April 2025",
            title: "Junior Creative/Intern | Kadaver ApS",
            desc: "A 10-week internship where I redesigned websites for Kadaver and one of its biggest clients.",
          },
          {
            year: "Present",
            title: "Digital Concept Development | Zealand",
            desc: "I'm now enrolled in the Digital Concept Development programme, focusing on developing digital concepts and products.",
          },
        ].map((item, index) => (
          <div class={`mb-8 pb-8 border-b border-gray-300 flex gap-6 ${index === 9 ? "last:border-b-0" : ""}`}>
            <div class="flex flex-col items-center">
              <div id="timeline-circle" class="w-4 h-4 bg-red-700 rounded-full border-4 border-white ring-2 ring-gray-300 sticky top-8" />
            </div>
            <div class="flex-1 pt-1">
              <p class="text-xs font-semibold text-red-700 mb-1 uppercase">{item.year}</p>
              <h4 class="text-h4-mobile font-bold text-gray-950 mb-2">{item.title}</h4>
              <p class="text-gray-700 text-sm">{item.desc}</p>
              {item.note && <p class="italic text-gray-600 text-xs mt-2">{item.note}</p>}
            </div>
          </div>
        ))
      }
    </div>
  </section>

  <!-- Interests and Hobbies -->
  <section id="interests" class="md:pt-desktop-top pt-mobil-top max-w-6xl mx-auto md:px-0 px-6">
    <div class="flex flex-col pb-8">
      <h3 class="font-bold text-gray-950">Interests and hobbies</h3>
    </div>
    <div id="interests-and-hobbies" class="grid md:grid-cols-2 grid-cols-1 gap-6">
      <!-- Interest Item 1 -->
      <div class="p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Reading</h4>
        <p class="text-gray-800">Books are my escape from the real world, where I can immerse myself and explore fascinating stories.</p>
      </div>
      <!-- Interest Item 2 -->
      <div class="p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Gaming</h4>
        <p class="text-gray-800">Gaming is a way for me to experience incredible stories and unique worlds, no matter how complex they may be.</p>
      </div>
      <!-- Interest Item 3 -->
      <div class="p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">YouTube-content</h4>
        <p class="text-gray-800">I find great inspiration and entertainment through YouTube&mdash; whether it's about tech, movies or games.</p>
      </div>
      <!-- Interest Item 4 -->
      <div class="p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Watching movies & TV-series</h4>
        <p class="text-gray-800">
          I love watching a movie or a TV series, every once in a while&mdash; it gives me a way of escape and a chance to relax.
        </p>
      </div>
      <!-- Interest Item 5 -->
      <div class="p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Building with LEGO</h4>
        <p class="text-gray-800">
          I love building a variety of different LEGO sets, as it puts my mind at ease and allows me to focus on something else.
        </p>
      </div>
      <!-- Interest Item 6 -->
      <div class="p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Photography</h4>
        <p class="text-gray-800">I like to capture images of things happening around me&mdash; whether it's nature, people or anything else.</p>
      </div>
    </div>
  </section>

  <!-- Resources Section -->
  <section id="resources" class="resources-section md:pt-desktop-top pt-mobil-top max-w-6xl mx-auto md:px-0 px-6">
    <div>
      <h3 class="font-bold text-gray-950 pb-8">Resources</h3>
      <div id="resources-section" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-6">
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Resume (EN)</h4>
          <p class="text-gray-800">Look through my resume to get an overview of my background.</p>
          <a class="mt-5 btn_container md:w-[30%]" href="/pdfs/CV_sararpetersen (EN).pdf" target="_blank" aria-label="See resume (EN)">
            <Button variant="secondary" size="small">See resume</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">CV (DA)</h4>
          <p class="text-gray-800">Kig mit CV igennem for at få en oversigt over min baggrund.</p>
          <a class="mt-5 btn_container md:w-[30%]" href="/pdfs/CV_sararpetersen (DA).pdf" target="_blank" aria-label="See resume (DA)">
            <Button variant="secondary" size="small">Se CV</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Application-template (EN)</h4>
          <p class="text-gray-800">Take a look at what I include when I send out applications.</p>
          <a
            class="mt-5 btn_container md:w-[50%]"
            href="/pdfs/application_template_sararpetersen_EN.pdf"
            target="_blank"
            aria-label="See application-template (EN)"
          >
            <Button variant="secondary" size="small">See application-template</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Ansøgningsskabelon (DA)</h4>
          <p class="text-gray-800">Tag et kig på hvad jeg inkluderer når jeg sender ansøgninger ud.</p>
          <a
            class="mt-5 btn_container md:w-[50%]"
            href="/pdfs/application_template_sararpetersen_DA.pdf"
            target="_blank"
            aria-label="See application-template (DA)"
          >
            <Button variant="secondary" size="small">Se ansøgningsskabelon</Button>
          </a>
        </div>

        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Info about disability allowance (EN)</h4>
          <p class="text-gray-800">Take a look at what measures that needs to be taken for me to be able to work, as someone with a disability.</p>
          <a
            class="mt-5 btn_container md:w-[50%]"
            href="/pdfs/begraensning_handicaptilaeg_EN.pdf"
            target="_blank"
            aria-label="See info-document (EN)"
          >
            <Button variant="secondary" size="small">See info-document</Button>
          </a>
        </div>

        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Info vedrørende handicaptillæg (DA)</h4>
          <p class="text-gray-800">Tag et kig på hvad der skal tages hensyn til for at jeg kan arbejde, som en person med en funktionsnedsættelse.</p>
          <a
            class="mt-5 btn_container md:w-[50%]"
            href="/pdfs/begraensning_handicaptilaeg_DA.pdf"
            target="_blank"
            aria-label="See info-document (DA)"
          >
            <Button variant="secondary" size="small">Se info-dokument</Button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 pt-20 text-center">
    <a href="/" class="mt-8 btn_container" aria-label="Back to homepage">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>
</MainLayout>
<script>
  import { inView } from "motion";

  //inView animations
  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector(".heading-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation2 = document.querySelector(".heading-text");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation4 = document.querySelector("#personal-background #background");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__slideInRight");
      });

      const elementmedanimation4a = document.querySelector("#personal-background #inspiration");
      inView(elementmedanimation4a, () => {
        elementmedanimation4a.classList.add("animate__animated", "animate__slideInRight");
      });

      const elementmedanimation4b = document.querySelector("#personal-background #goals");
      inView(elementmedanimation4b, () => {
        elementmedanimation4b.classList.add("animate__animated", "animate__slideInRight");
      });

      const elementmedanimation5 = document.querySelector("#personal-background img");
      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation6 = document.querySelector("#interests h3");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation6a = document.querySelector(".strength-and-weaknesses h3");
      inView(elementmedanimation6a, () => {
        elementmedanimation6a.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation6b = document.querySelector("#resources h3");
      inView(elementmedanimation6b, () => {
        elementmedanimation6b.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation6c = document.querySelector("#timeline h3");
      inView(elementmedanimation6c, () => {
        elementmedanimation6c.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation7 = document.querySelector(".button-container");
      inView(elementmedanimation7, () => {
        elementmedanimation7.classList.add("animate__animated", "animate__fadeInRight");
      });

      const boxes = document.querySelectorAll("#timeline-line > div");

      boxes.forEach((boxes, index) => {
        inView(boxes, () => {
          boxes.classList.add("animate__animated", "animate__fadeInUp");
          boxes.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const sections = document.querySelectorAll("#interests-and-hobbies > div");

      sections.forEach((sections, index) => {
        inView(sections, () => {
          sections.classList.add("animate__animated", "animate__fadeInUp");
          sections.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const section = document.querySelectorAll("#resources-section > div");

      section.forEach((section, index) => {
        inView(section, () => {
          section.classList.add("animate__animated", "animate__fadeInUp");
          section.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const section2 = document.querySelectorAll("#strengths-weaknesses-container > div");

      section2.forEach((section2, index) => {
        inView(section2, () => {
          section2.classList.add("animate__animated", "animate__fadeInUp");
          section2.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });
    }
  });
</script>

<style>
  body.dark .heading-title,
  body.dark .heading-text,
  body.dark h3,
  body.dark h4,
  body.dark p,
  body.dark li,
  body.dark a,
  body.dark .tab-btn {
    color: #f6f6f6;
  }

  body.dark .tab-btn:hover,
  body.dark .tab-btn.active {
    color: #ffadad;
    border-color: #ffadad;
  }

  body.dark #timeline-circle {
    background-color: #ff1f1f;
  }

  body.dark #interests-and-hobbies > div,
  body.dark #resources-section > div,
  body.dark #strengths-weaknesses-container > div {
    border-color: #6d6d6d;
    background: linear-gradient(to bottom right, #3a3a3a, #2d2d2d);
  }

  body.dark #lines hr {
    border-color: #6d6d6d;
  }

  body.dark .portrait {
    border-color: #6d6d6d;
  }

  .tab-btn.active,
  .tab-btn:hover {
    border-color: #d60000;
    color: #d60000;
  }
</style>
