---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="SRP portfolio | About me"
  description="About Sara and her background"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="Learn more about Sara"
>
  <section
    id="about-me"
    class="grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:mt-16 mt-8 md:px-0 px-8 mx-auto relative container max-w-6xl md:text-left text-center"
  >
    <!-- Intro Section -->
    <div class="relative col-span-12 md:pt-12 pt-16 md:pb-20 pb-8">
      <h1 class="heading-title font-bold md:text-left text-center text-gray-950 mb-8">About me</h1>
      <p class="heading-text text-gray-800 md:pb-0 pb-16 max-w-3xl">
        Read a little bit about me, my background, and who I am. You'll also find the templates that I've used for my resume and applications at the
        very bottom of the page.
      </p>
    </div>
  </section>
  <!-- Personal Background -->
  <section id="personal-background" class="container grid grid-cols-12 md:pt-0 max-w-6xl mx-auto md:px-0 px-6">
    <div class="grid md:grid-cols-2 grid-cols-1 md:items-start items-center justify-center col-span-12">
      <div class="items-center md:pb-0 pb-8">
        <p id="personal-background-text" class="text-gray-800">
          I've always loved being creative. From a young age, I've enjoyed drawing, painting, crafting&mdash; just everything that spelt <em
            >"creativity"</em
          > in general. I knew deep down that when I grew up, I someday wanted to make that a career. As I became older, however, I also started to become
          interested in technology. And now wanting a career that combined both that and creativity, I struggled to find the right thing.<br /><br />
          After first having gone through high school, folk high school, and singular courses, I eventually stumbled upon multimedia design. It was a programme
          that combined the best of both worlds, and I just knew right away that it was the perfect fit for me. <br />Through my studies, I quickly
          realised the important role that accessibility plays in digital design. As someone who's late-diagnosed with autism, I know what it's like
          navigating a world that isn't always accessible to everyone. So that has become my goal&mdash; to create digital experiences that remove
          barriers and ensure inclusivity for all. <br /><br />With accessibility at the core of my work, I strive to design engaging, user-friendly
          platforms that make a difference. Every project is an opportunity to merge creativity with purpose, and I look forward to growing,
          innovating and shaping a more inclusive digital world. <br /><br />To build further on this, I've chosen to continue my studies by taking a
          top-up bachelor's in digital concept development. This next step will allow me to strengthen my skills in concept development, strategy, and
          innovation, while still keeping accessibility and user experience as guiding principles. By expanding my knowledge in both design and
          business strategy, I aim to bridge the gap between creative ideas and impactful solutions&mdash; ensuring that what I create not only looks
          good, but also works for everyone.
        </p>
      </div>
      <div class="flex items-center justify-start md:justify-end">
        <img src="/images/pfp3.webp" alt="Portrait of Sara (taken during the internship at Kadaver)" class="w-[450px] h-[550px] object-cover" />
      </div>
    </div>
  </section>

  <!-- Timeline -->
  <section id="timeline" class="container max-w-6xl mx-auto md:pt-desktop-top pt-mobil-top md:px-0 px-6">
    <h3 class="text-gray-950 pb-8">My journey so far</h3>
    <div id="timeline-line" class="relative border-l-2 border-gray-400 pl-6">
      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">2017 – 2018</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">Advertisement-distributor | FK Distribution A/S</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          This was my first actual job that I got during my final year of primary school. Here, I handed out ads in a selected area near my home, and
          I did that about once a week for about a year.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">2018 – 2019</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">10th grade | Egeskolen</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          After primary school, I decided to continue studying, as my grades weren't good enough to apply for high school. It ended up being one of
          the best decisions of my life, because it just gave me the buffer that I needed to continue onward.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">February 2018 – may 2019</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">Shop-assistant u. 18 | Netto, Vanløse</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          Applied for this job shortly after I quit as an advertisement distributor. I only had the job for 3 months, but that was more than enough
          for me to realise that retail and customer-handling wasn't my thing.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">August 2019 – june 2021</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">HF | Egedal Gymnasium & HF</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          After 10th grade, my grades were finally good enough for me to apply for high school, and I applied for the one I was most interested in.
          During my time there, my main subjects were art, society class and psychology.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">June 2021 – december 2022</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">Assistant in webshop | Lloyd Concept Store Copenhagen*</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          This was a job that I got after graduating from high school, through a family acquaintance. Here, I did order management (finding and
          packing) and cleaning. It was a good way for me to keep myself occupied during my gap year, until I figured out what I wanted to do.
        </p>
        <p class="italic text-gray-700 text-sm mt-2">* I went on a 6-month leave during my time there, due to my stay at Bosei (folk high school)</p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">January 2022 – june 2022</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">Bosei Sports Folk High School | Gap-year</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          During my 6-month leave at Lloyd, I went to stay at Bosei Sports Folk High School, which is where I spent the majority of my gap year. Here,
          I studied Japanese&mdash; both the language and the culture &mdash;and also did a bit of gaming and sports.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">August 2022 – may 2023</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">
          Singular courses in History (dropped*) and Japanese (lvl. 0-B) | Frederiksberg VUC & STX
        </h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          After my gap year, I decided to continue studying, as I wanted to improve my grades and maybe apply for higher education. I chose Japanese,
          my newfound interest after Bosei. And history, because my grade in high school was low.
        </p>
        <p class="italic text-gray-700 text-sm mt-2">* Had to drop it due to work and just continue with one course</p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">August 2023 – june 2025</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">Multimedia design | KEA – Københavns Erhvervsakademi</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          After my singular courses, I applied for the multimedia design programme, after having attended an open-house event at KEA. It was here that
          I started my studies in the field of digital design and learned all that I know now.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">January 2025 – april 2025</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">Junior Creative/intern | Kadaver ApS</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          In the fourth and final semester of my studies, I had to complete a 10-week internship. I chose the advertising agency Kadaver, which was
          recommended to me by an acquaintance. During my internship, I redesigned websites for both Kadaver itself and one of its biggest clients.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">Present</p>
        <h4 class="text-h4-mobile font-dense font-bold text-gray-950 mb-2">Digital concept development | Zealand – Sjællands Erhvervsakademi</h4>
        <p class="text-gray-700 md:max-w-3xl max-w-none">
          After having graduated from KEA, I decided to continue my studies at Zealand, where I'm currently enrolled in the digital concept
          development programme. This programme focuses on developing digital concepts and products, and it allows me to further enhance my skills in
          digital design and development.
        </p>
      </div>
    </div>
  </section>

  <!-- Interests and Hobbies -->
  <section id="interests" class="md:pt-desktop-top pt-mobil-top max-w-6xl mx-auto md:px-0 px-6">
    <div class="flex flex-col pb-8">
      <h3 class="font-bold text-gray-950">Interests and hobbies</h3>
    </div>
    <div id="interests-and-hobbies" class="grid md:grid-cols-2 grid-cols-1 gap-gap">
      <!-- Interest Item 1 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Reading</h4>
        <p class="text-gray-800">Books are my escape from the real world, where I can immerse myself and explore fascinating stories.</p>
      </div>
      <!-- Interest Item 2 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Gaming</h4>
        <p class="text-gray-800">Gaming is a way for me to experience incredible stories and unique worlds, no matter how complex they may be.</p>
      </div>
      <!-- Interest Item 3 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">YouTube-content</h4>
        <p class="text-gray-800">I find great inspiration and entertainment through YouTube&mdash; whether it's about tech, movies or games.</p>
      </div>
      <!-- Interest Item 4 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Watching movies & TV-series</h4>
        <p class="text-gray-800">
          I love watching a movie or a TV series, every once in a while&mdash; it gives me a way of escape and a chance to relax.
        </p>
      </div>
      <!-- Interest Item 5 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Building with LEGO</h4>
        <p class="text-gray-800">
          I love building a variety of different LEGO sets, as it puts my mind at ease and allows me to focus on something else.
        </p>
      </div>
      <!-- Interest Item 6 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="text-h4-mobile pb-2 text-gray-950">Photography</h4>
        <p class="text-gray-800">I like to capture images of things happening around me&mdash; whether it's nature, people or anything else.</p>
      </div>
    </div>
  </section>

  <!-- Resources Section -->
  <section id="resources" class="resources-section md:pt-desktop-top pt-mobil-top max-w-6xl mx-auto md:px-0 px-6">
    <div>
      <h3 class="font-bold text-gray-950 pb-8">Resources</h3>
      <div id="resources-section" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-gap">
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Resume (EN)</h4>
          <p class="text-gray-800">Look through my resume to get an overview of my professional background.</p>
          <a
            class="mt-5 btn_container md:w-[30%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:e093c952-28f9-42b6-b745-8cdc5938a012"
            target="_blank"
            aria-label="See resume (EN)"
          >
            <Button variant="secondary" size="small">See resume</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">CV (DA)</h4>
          <p class="text-gray-800">Kig mit CV igennem for at få en oversigt over min professionelle baggrund.</p>
          <a
            class="mt-5 btn_container md:w-[30%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:4484bae5-9641-449f-bb8b-490181b02696"
            target="_blank"
            aria-label="See resume (DA)"
          >
            <Button variant="secondary" size="small">Se CV</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Application-template (EN)</h4>
          <p class="text-gray-800">Take a look at what I include when I send out applications.</p>
          <a
            class="mt-5 btn_container md:w-[50%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:6645918a-cc9e-4749-980d-5228b39fe007"
            target="_blank"
            aria-label="See application-template (EN)"
          >
            <Button variant="secondary" size="small">See application-template</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="text-h4-mobile pb-2 text-gray-950">Ansøgningsskabelon (DA)</h4>
          <p class="text-gray-800">Tag et kig på hvad jeg inkluderer når jeg sender ansøgninger ud.</p>
          <a
            class="mt-5 btn_container md:w-[50%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:4ef6a45a-1f14-40b3-8e78-6bd0434b797e"
            target="_blank"
            aria-label="See application-template (DA)"
          >
            <Button variant="secondary" size="small">Se ansøgningsskabelon</Button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 pt-20 text-center">
    <a href="/" class="mt-8 btn_container" aria-label="Back to homepage">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>
</MainLayout>
<script>
  import { inView } from "motion";

  //inView animations
  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector(".heading-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation2 = document.querySelector(".heading-text");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation4 = document.querySelector("#personal-background p");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__slideInRight");
      });

      const elementmedanimation5 = document.querySelector("#personal-background img");
      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation6 = document.querySelector("#interests h3");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation6a = document.querySelector(".strength-and-weaknesses h3");
      inView(elementmedanimation6a, () => {
        elementmedanimation6a.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation6b = document.querySelector("#resources h3");
      inView(elementmedanimation6b, () => {
        elementmedanimation6b.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation6c = document.querySelector("#timeline h3");
      inView(elementmedanimation6c, () => {
        elementmedanimation6c.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation7 = document.querySelector(".button-container");
      inView(elementmedanimation7, () => {
        elementmedanimation7.classList.add("animate__animated", "animate__fadeInRight");
      });

      const boxes = document.querySelectorAll("#timeline-line > div");

      boxes.forEach((boxes, index) => {
        inView(boxes, () => {
          boxes.classList.add("animate__animated", "animate__fadeInUp");
          boxes.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const sections = document.querySelectorAll("#interests-and-hobbies > div");

      sections.forEach((sections, index) => {
        inView(sections, () => {
          sections.classList.add("animate__animated", "animate__fadeInUp");
          sections.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const section = document.querySelectorAll("#resources-section > div");

      section.forEach((section, index) => {
        inView(section, () => {
          section.classList.add("animate__animated", "animate__fadeInUp");
          section.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const section2 = document.querySelectorAll("#strengths-weaknesses-container > div");

      section2.forEach((section2, index) => {
        inView(section2, () => {
          section2.classList.add("animate__animated", "animate__fadeInUp");
          section2.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });
    }
  });
</script>

<style>
  body.dark .heading-title,
  body.dark .heading-text,
  body.dark h3,
  body.dark h4,
  body.dark p,
  body.dark li,
  body.dark a {
    color: #f6f6f6;
  }

  body.dark #interests-and-hobbies > div,
  body.dark #resources-section > div,
  body.dark #strengths-weaknesses-container > div {
    background-color: #454545;
    border-color: #6d6d6d;
  }

  body.dark #lines hr {
    border-color: #6d6d6d;
  }
</style>
