---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="SRP portfolio | About me"
  description="About Sara and her background"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="Learn more about Sara"
>
  <section
    id="about-me"
    class="grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:mt-16 mt-8 md:px-0 px-8 mx-auto relative container max-w-6xl md:text-left text-center"
  >
    <!-- Intro Section -->
    <div class="relative md:col-span-12 col-start-2 col-span-10 pt-12">
      <h1 id="more-about-me-title" class="font-bold md:text-left text-center text-gray-950">About me</h1>
    </div>

    <div id="lines" class="hidden md:block col-span-7 md:pb-16 pb-8">
      <hr class="border-gray-950 mt-6 md:w-[70%] w-[90%]" />
      <hr class="border-gray-950 mt-3 md:w-[50%] w-[70%]" />
    </div>
  </section>
  <!-- Personal Background -->
  <section id="personal-background" class="container grid grid-cols-12 md:pt-0 max-w-6xl mx-automd:px-0 px-6">
    <div class="grid md:grid-cols-2 grid-cols-1 md:items-start items-center justify-center md:col-span-12 col-start-2 col-span-10">
      <div class="items-center md:pb-0 pb-8">
        <h2 class="text-[50px] md:text-left text-center font-dense text-gray-950 md:pb-0 pb-8 md:pt-0 pt-4">
          Creativity has always been a part of me..
        </h2>
        <p id="personal-background-text" class="mt-4 text-gray-950">
          <span class="font-bold text-[25px] italic">"</span> I've always loved being creative. From a young age, I've enjoyed drawing, painting, and crafting&mdash;
          just everything that spelled <em>'creativity'</em> in general. I knew deep down that when I grew up, I wanted to make it a career. As I became
          older, however, I also started to become interested in technology. And now wanting a career that combined both that and creativity, I struggled
          to find the right thing.<br /><br />
          After first having gone through high school, folk high school and singular courses, I eventually stumbled upon multimedia-design. It was a degree
          that combined the best of both worlds, and I just knew that it was the perfect fit for me. <br />Through my studies, I quickly realised the
          important role that accessibility played in digital design. As someone who's late-diagnosed with autism, I know what it's like navigating a
          world that isn't always accessible to everyone. So that has become my goal&mdash; to create digital experiences that remove barriers and
          ensure inclusivity for all. <br /><br />With accessibility at the core of my work, I strive to design engaging, user-friendly platforms that
          make a difference. Every project is an opportunity to merge creativity with purpose, and I look forward to growing, innovating, and shaping
          a more inclusive digital world.<span class="font-bold text-[25px] italic">"</span>
        </p>
      </div>
      <div class="flex items-center justify-start md:justify-end">
        <img src="/images/pfp3.webp" alt="Portrait of Sara (taken during the internship at Kadaver)" class="w-[450px] h-[500px] object-cover" />
      </div>
    </div>
  </section>

  <!-- Strengths and Weaknesses -->
  <section class="strength-weaknesses md:pt-desktop-top pt-mobil-top max-w-6xl mx-auto md:px-0 px-6">
    <div class="flex flex-col pb-8">
      <h3 class="font-bold text-gray-950">Strengths and weaknesses</h3>
    </div>
    <div id="strengths-and-weaknesses" class="grid md:grid-cols-2 grid-cols-1 gap-gap">
      <!-- Strength Item 1 -->
      <div id="strengths" class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">Strengths</h4>
        <ul class="list-decimal pl-4 space-y-2 text-gray-950">
          <li><strong>Adaptability: </strong><br />I can easily adjust to new situations and environments</li>
          <li><strong>Multitasking: </strong><br />I can handle multiple tasks and projects at the same time</li>
          <li><strong>Attention to detail: </strong><br />I often spot errors that others might've overlooked or missed</li>
          <li><strong>Time-management: </strong><br />I can prioritise tasks and manage my time effectively</li>
        </ul>
      </div>
      <!-- Weakness Item 2 -->
      <div id="weaknesses" class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">Weaknesses</h4>
        <ul class="list-decimal pl-4 space-y-2 text-gray-950">
          <li>
            <strong>Overthinking: </strong><br />I often overthink, even over the simplest tasks and decisions
          </li>
          <li>
            <strong>Overload: </strong><br />I get easily overwhelmed, if I have too much on my plate
          </li>
          <li>
            <strong>Mental shutdown: </strong><br />I sometimes shut down completely, if I'm in a stressful situation
          </li>
          <li>
            <strong>Procrastination: </strong><br />I tend to procrastinate, when I've hit a roadblock
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- Timeline -->
  <section id="timeline" class="container max-w-6xl mx-auto md:pt-desktop-top pt-mobil-top md:px-0 px-6">
    <h3 class="text-gray-950 pb-8">My journey so far</h3>
    <div id="timeline-line" class="relative border-l-2 border-gray-400 pl-6">
      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">2017 – 2018</p>
        <h4 class="font-dense font-bold text-gray-950">Advertisement-distributor | FK Distribution A/S</h4>
        <p class="text-gray-700">My first actual job, that I got during my final year of primary school.</p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">2018 – 2019</p>
        <h4 class="font-dense font-bold text-gray-950">10th grade | Egeskolen</h4>
        <p class="text-gray-700">After primary school, I decided to continue studying, as my grades weren't good enough to apply for high school.</p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">February 2018 – may 2019</p>
        <h4 class="font-dense font-bold text-gray-950">Shop-assistant u. 18 | Netto, Vanløse</h4>
        <p class="text-gray-700">
          Applied for this job, shortly after I quit as an advertisement-distributor. I only had the job for 3 months, but that was more than enough
          for me to realise that retail and customer-handling wasn't my thing.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">August 2019 – june 2021</p>
        <h4 class="font-dense font-bold text-gray-950">HF | Egedal Gymnasium & HF</h4>
        <p class="text-gray-700">
          After 10th grade, my grades were finally good enough for me to apply for high school, and I applied for the one I was most interested in.
          During my time there, my main-subjects were art, society-class and psychology.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">June 2021 – december 2022</p>
        <h4 class="font-dense font-bold text-gray-950">Assistant in webshop | Lloyd Concept Store Copenhagen*</h4>
        <p class="text-gray-700">
          This was a job that I got after graduating from high school, through a family-aquaintance. Here, I did order-management (finding and
          packing) and cleaning. It was a good way for me to keep me occupied during my gap-year, until I figured out what I wanted to do.
        </p>
        <p class="italic text-gray-700 text-sm mt-2">* I went on a 6-month leave during my time there, due to my stay at Bosei (folk high school)</p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">January 2022 – june 2022</p>
        <h4 class="font-dense font-bold text-gray-950">Bosei Sports Folk High School | Gap-year</h4>
        <p class="text-gray-700">
          During my 6-month leave at Lloyd, I went to stay at Bosei Sports Folk High School, where I spent the rest of my gap-year. Here, I studied
          Japanese&mdash; both the language and the culture &mdash;and also did a bit of gaming and sports.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">August 2022 – may 2023</p>
        <h4 class="font-dense font-bold text-gray-950">Singular courses in History (dropped*) and Japanese (lvl. 0-B) | Frederiksberg VUC & STX</h4>
        <p class="text-gray-700">
          After my gap-year, I decided to continue studying, as I wanted to improve my grades and maybe apply for a higher education. I chose
          Japanese, my new-found interest after Bosei. And History, because my grade from high school was low.
        </p>
        <p class="italic text-gray-700 text-sm mt-2">* Had to drop it due to work and just continue with one course</p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">August 2023 – present</p>
        <h4 class="font-dense font-bold text-gray-950">Multimedia-design | KEA – Københavns Erhvervsakademi</h4>
        <p class="text-gray-700">
          After my singular courses, I applied for the multimedia-design degree, after having attended an open-house event at KEA. It was here that I
          started my studies in the world of digital design.
        </p>
      </div>

      <div class="mb-10">
        <p class="text-sm text-gray-600 mb-1">January 2025 – april 2025</p>
        <h4 class="font-dense font-bold text-gray-950">Junior Creative/intern | Kadaver ApS</h4>
        <p class="text-gray-700">
          As part of my fourth and final semester on the multimedia-design degree, I had to complete a 10-week internship. I chose to do my internship
          at the advertising-agency Kadaver, which was recommended to me by an aquaintance. During my internship, I redesigned websites for both
          Kadaver themselves, and also one of their biggest clients.
        </p>
      </div>
    </div>
  </section>

  <!-- Interests and Hobbies -->
  <section id="interests" class="md:pt-desktop-top pt-mobil-top max-w-6xl mx-auto md:px-0 px-6">
    <div class="flex flex-col pb-8">
      <h3 class="font-bold text-gray-950">Interests and hobbies</h3>
    </div>
    <div id="interests-and-hobbies" class="grid md:grid-cols-2 grid-cols-1 gap-gap">
      <!-- Interest Item 1 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">Reading</h4>
        <p class="text-gray-950">Books are my escape from the real world, where I can immerse myself and explore fascinating stories.</p>
      </div>
      <!-- Interest Item 2 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">Gaming</h4>
        <p class="text-gray-950">
          Gaming is a way for me to experience incredible stories and unique worlds, all while having fun in a virtual space.
        </p>
      </div>
      <!-- Interest Item 3 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">Crafting & DIY</h4>
        <p class="text-gray-950">
          I love getting creative with DIY-projects&mdash; whether it's drawing, making keychains, or something else entirely.
        </p>
      </div>
      <!-- Interest Item 4 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">YouTube-content</h4>
        <p class="text-gray-950">I find great inspiration and entertainment through YouTube&mdash; whether it's about tech, movies, or games.</p>
      </div>
      <!-- Interest Item 5 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">Watching movies & TV series</h4>
        <p class="text-gray-950">
          Watching a movie or a TV series gives me the chance to unwind, discover new stories, and explore a variety of genres.
        </p>
      </div>
      <!-- Interest Item 6 -->
      <div class="p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
        <h4 class="pb-2 font-dense font-bold text-gray-950">Photography</h4>
        <p class="text-gray-950">I like to capture moments that inspires me, allowing me to preserve the beauty of the world around me.</p>
      </div>
    </div>
  </section>

  <!-- Resources Section -->
  <section class="resources md:pt-desktop-top pt-mobil-top max-w-6xl mx-auto md:px-0 px-6">
    <div>
      <h3 class="font-bold text-gray-950 pb-8">Resources</h3>
      <div id="resources-section" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-2 gap-gap">
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="pb-2 font-dense font-bold text-gray-950">Resume (EN)</h4>
          <p class="text-gray-950">Look through my resume to get an overview of my professional background.</p>
          <a
            class="mt-5 btn_container md:w-[30%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:64ad8373-1912-4e34-aa64-5396885ef33c"
            target="_blank"
            aria-label="Resume (EN)"
          >
            <Button variant="secondary" size="small">See more</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="pb-2 font-dense font-bold text-gray-950">Resume (DA)</h4>
          <p class="text-gray-950">Kig mit CV igennem for at få en oversigt over min professionelle baggrund.</p>
          <a
            class="mt-5 btn_container md:w-[30%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:af8d80a0-8eb6-4f31-8640-59b2ff3caa83"
            target="_blank"
            aria-label="Resume (DA)"
          >
            <Button variant="secondary" size="small">Se mere</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="pb-2 font-dense font-bold text-gray-950">Application-template (EN)</h4>
          <p class="text-gray-950">Take a look at what I include when I send out applications.</p>
          <a
            class="mt-5 btn_container md:w-[30%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:75e9d1b3-7cc2-4520-921d-15cb2eb49201"
            target="_blank"
            aria-label="Application-template (EN)"
          >
            <Button variant="secondary" size="small">See more</Button>
          </a>
        </div>
        <!-- Resource Item -->
        <div class="flex flex-col p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <h4 class="font-dense font-bold text-gray-950 pb-2">Application-template (DA)</h4>
          <p class="text-gray-950">Tag et kig på hvad jeg inkluderer når jeg sender ansøgninger ud.</p>
          <a
            class="mt-5 btn_container md:w-[30%]"
            href="https://acrobat.adobe.com/id/urn:aaid:sc:EU:bbdd4db8-79c5-4d85-9fbb-ed404b83483c"
            target="_blank"
            aria-label="Application-template (DA)"
          >
            <Button variant="secondary" size="small">Se mere</Button>
          </a>
        </div>
      </div>
    </div>
  </section>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 pt-20 text-center">
    <a href="/" class="mt-8 btn_container" aria-label="Back to homepage">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>
</MainLayout>
<script>
  import { inView } from "motion";

  //inView animations
  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#more-about-me-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#lines");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector("#personal-background h2");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation4 = document.querySelector("#personal-background p");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__slideInRight");
      });

      const elementmedanimation5 = document.querySelector("#personal-background img");
      inView(elementmedanimation5, () => {
        elementmedanimation5.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation6 = document.querySelector(".button-container");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInRight");
      });

      const boxes = document.querySelectorAll("#timeline-line > div");

      boxes.forEach((boxes, index) => {
        inView(boxes, () => {
          boxes.classList.add("animate__animated", "animate__fadeInUp");
          boxes.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const sections = document.querySelectorAll("#interests-and-hobbies > div");

      sections.forEach((sections, index) => {
        inView(sections, () => {
          sections.classList.add("animate__animated", "animate__fadeInUp");
          sections.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const section = document.querySelectorAll("#resources-section > div");

      section.forEach((section, index) => {
        inView(section, () => {
          section.classList.add("animate__animated", "animate__fadeInUp");
          section.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });
    }
  });
</script>

<style>
  body.dark #more-about-me-title,
  body.dark p,
  body.dark h2,
  body.dark h3,
  body.dark h4,
  body.dark ul li {
    color: #f6f6f6;
  }

  body.dark #interests-and-hobbies > div,
  body.dark #resources-section > div,
  body.dark #strengths-and-weaknesses > div {
    background-color: #454545;
    border-color: #6d6d6d;
  }
</style>
