---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="More about me"
  description="More about the creator of the portfolio"
  ogtitle="SRP portfolio - more about me"
  ogdescription="More about the creator of the portfolio"
>
  <section id="more-about-me" class="relative container md:max-w-3xl max-w-md mx-auto md:text-left text-center py-12">
    <!-- Intro Section -->
    <div class="relative z-10 max-w-2xl">
      <h2 id="more-about-me-title" class="mx-auto font-bold md:text-left text-center text-grey-500 md:pt-32 pt-32">More about me</h2>
      <p id="more-about-me-text" class="text-grey-600 mt-4 leading-7 mx-auto">
        Beyond just being a designer, there's more to me than one might expect. On this page, you can read a bit about my journey, the things that I
        stand for, as well as some of the things that I'm passionate about.
      </p>
    </div>
  </section>

  <!-- Personal Background Section -->
  <section id="personal-background" class="container max-w-screen-xl mx-auto md:pt-8 pt-4">
    <div class="bg-blue-800 bg-opacity-70 p-8 rounded-[5px] shadow-drop25 flex flex-col lg:flex-row items-center">
      <div class="lg:w-1/2 lg:pr-8">
        <h3 class="font-bold text-grey-500">My journey</h3>
        <p class="mt-4 text-grey-600">
          Growing up in the <span class="text-red-500 font-bold">northern suburbs of Zealand</span>, I discovered my love for creativity early on.
          From drawing to small projects, I always came up with something to do. This passion for creativity, however.. deep down, I always knew that
          I wanted to
          <span class="text-red-500 font-bold">make it a career</span>&mdash; something I could do for a living. But that, combined with my newfound
          interest in <span class="text-red-500 font-bold">technology</span>, made me doubtful. I had no idea of what you could become, with those two
          things. <span class="text-red-500 font-bold">Animator</span> was an option. That was the first thing I considered. But after seeing how hard
          it was to get the proper education for that, I had to try and find something else. After having taken a lot of detours, in the form of high-school
          and singular courses, I eventually found my way to
          <span class="text-red-500 font-bold">multimedia-design</span> through an open-house event. The moment I heard about it, I knew I had to give
          it a try. It combined the best of both worlds&mdash; creativity and technology. And that was enough for me to apply.
        </p>
        <p class="mt-4 text-grey-600">
          After starting my studies, I quickly realised the importance of <span class="text-red-500 font-bold">accessibility</span> in digital design,
          both for myself and others. It became clear that creating <span class="highlight-text text-red-500 font-bold">inclusive experiences</span> was
          not just about meeting technical standards, but about making meaningful connections for everyone, regardless of their abilities.
        </p>
        <p class="mt-4 text-grey-600">
          This understanding sparked a deeper <span class="text-red-500 font-bold">drive within me to focus on accessibility</span> as a core-principle
          in my work. As I continue to grow in the few months that I have left of my studies, I’m determined to design digital platforms that <span
            class="text-red-500 font-bold">remove barriers</span
          > and ensure a more inclusive experience for all.
        </p>
      </div>
      <div class="flex justify-center lg:w-1/2 mt-8 lg:mt-0">
        <img
          src="/images/pfp4.webp"
          alt="portrait of Sara"
          loading="lazy"
          class="w-48 h-48 md:w-[400px] md:h-[400px] rounded-full shadow-md object-cover"
        />
      </div>
    </div>
  </section>

  <!-- Interests & Hobbies Section -->
  <div id="interests" class="md:mt-desktop-top mt-mobil-top">
    <section class="container max-w-screen-xl mx-auto">
      <div class="bg-blue-800 bg-opacity-70 p-8 rounded-[5px] shadow-drop25">
        <h3 class="font-bold text-grey-500">Interests & hobbies</h3>
        <p class="mt-4 text-grey-600">
          Outside of my professional pursuits, I have a diverse range of interests. Whether it's about being creative, nerding out about different
          things, or simply just doing something entertaining&mdash; I always have or come up with something to do during my spare-time.
        </p>
        <div class="grid md:grid-cols-2 grid-cols-1 mt-12 gap-12">
          <!-- Interest Item 1 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full">
              <h4 class="text-xl font-semibold text-grey-500">Reading</h4>
              <p class="text-grey-600">
                From fantasy, crime, YA, and everything in between, books are an ideal way to challenge my mind and imagination.
              </p>
            </div>
          </div>
          <!-- Interest Item 2 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full">
              <h4 class="text-xl font-semibold text-grey-500">Gaming</h4>
              <p class="text-grey-600">
                From Nintendo-classics to modern adventures, I find gaming a great way to unwind, escape from reality, and forget the daily struggles.
              </p>
            </div>
          </div>
          <!-- Interest Item 3 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full">
              <h4 class="text-xl font-semibold text-grey-500">Crafting & DIY</h4>
              <p class="text-grey-600">
                I love getting hands-on with projects like drawing, making keychains, and creating bead-plates to keep my mind busy.
              </p>
            </div>
          </div>
          <!-- Interest Item 4 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full">
              <h4 class="text-xl font-semibold text-grey-500">Youtube-content</h4>
              <p class="text-grey-600">
                I always find something to watch on YouTube during my downtime&mdash; whether it's tech, movies, music, lifestyle, or gaming.
              </p>
            </div>
          </div>
          <!-- Interest Item 5 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full">
              <h4 class="text-xl font-semibold text-grey-500">Watching movies & TV series</h4>
              <p class="text-grey-600">
                Watching a movie or a TV series, every now and then, is a nice way for me to unwind and refresh my mind&mdash; just like with
                video-games and YouTube.
              </p>
            </div>
          </div>
          <!-- Interest Item 6 -->
          <div>
            <div class="max-w-xs mx-auto md:max-w-full">
              <h4 class="text-xl font-semibold text-grey-500">Photography</h4>
              <p class="text-grey-600">
                Whether it's moments, landscapes, or something else entirely, I always find time to capture the world around me.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 pt-8 text-center">
    <a href="/" class="mt-8 btn_container">
      <Button variant="primary" size="small">Back to frontpage</Button>
    </a>
  </section>
  <script>
    import { animate, inView } from "motion";
    /*Entrance Animation*/
    animate("body", { opacity: [0, 1] }, { duration: 1 });

    //inView animations

    const elementmedanimation1 = document.querySelector("#more-about-me-title");
    inView(elementmedanimation1, () => {
      elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
    });

    const elementmedanimation2 = document.querySelector("#more-about-me-text");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
    });

    const elementmedanimation3 = document.querySelector("#personal-background");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation4 = document.querySelector("#philosophy");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation5 = document.querySelector("#interests");
    inView(elementmedanimation5, () => {
      elementmedanimation5.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation6 = document.querySelector(".button-container");
    inView(elementmedanimation6, () => {
      elementmedanimation6.classList.add("animate__animated", "animate__fadeInRight");
    });
  </script>
</MainLayout>
