---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="SRP portfolio | Contact"
  description="Contact Sara"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="Contact Sara through her email-address or phone-number"
>
  <section id="contact" class="container mx-auto md:px-6 px-4 md:mt-desktop-top mt-mobil-top md:pt-20 pt-8">
    <!-- Contact Information Section -->
    <div id="contact-form-container" class="md:pt-0 pt-12 flex flex-col md:flex-row gap-12 justify-center">
      <!-- Image and Contact Info Box -->
      <div id="contact-container" class="flex flex-col md:flex-row items-center">
        <!-- Image -->
        <img
          src="/images/pfp.webp"
          alt="School-portrait of Sara (taken during the internship-preparations)"
          class="w-48 h-48 md:w-[350px] md:h-[350px] object-cover rounded-full border border-gray-950 mb-12 md:mb-0 md:mr-12"
        />

        <!-- Contact Information Box -->
        <div class="space-y-4">
          <h1 id="contact-title" class="md:text-left text-center md:text-h2-desktop text-h2-mobile font-dense text-gray-950 md:pb-5 pb-2">
            Let's talk!
          </h1>
          <div id="contact-info" class="py-4 md:py-6 border-y border-gray-950 text-gray-950">
            <ul class="md:space-y-4 space-y-2">
              <li class="some1">
                <strong class="text-gray-950">Email:</strong><br class="md:hidden block" />
                <a
                  href="mailto:sara.ringkow@gmail.com"
                  target="_blank"
                  aria-label="Send email to 'sara.ringkow@gmail.com'"
                  class="text-gray-950 hover:text-red-500 py-1 focus:outline-none focus:ring-2 focus:ring-red-300">sara.ringkow@gmail.com</a
                >
              </li>
              <li class="some1 md:pt-0 pt-4">
                <strong class="text-gray-950">Phone:</strong><br class="md:hidden block" />
                <a
                  href="tel:+4542428807"
                  aria-label="Call +45 42 42 88 07"
                  target="_blank"
                  class="text-gray-950 hover:text-red-500 py-1 focus:outline-none focus:ring-2 focus:ring-red-300">+45 42 42 88 07</a
                >
              </li>
              <li class="some1 md:pt-0 pt-4">
                <strong class="text-gray-950">Linkedin:</strong><br class="md:hidden block" />
                <a
                  href="https://www.linkedin.com/in/sara-ringkow-petersen-49830b264/"
                  target="_blank"
                  aria-label="Go to 'linkedin.com/in/sara-ringkow-petersen' (external link)"
                  class="text-gray-950 hover:text-red-500 py-1 focus:outline-none focus:ring-2 focus:ring-red-300"
                >
                  linkedin.com/in/sara-ringkow-petersen
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="button-container mx-auto pb-16 pt-20 text-center">
    <a href="/" class="mt-8 btn_container">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>

  <script>
    import { inView } from "motion";

    document.addEventListener("DOMContentLoaded", () => {
      const reduceMotion = document.body.classList.contains("reduce-motion");

      if (!reduceMotion) {
        const elementmedanimation7 = document.querySelector("#contact-container img");
        inView(elementmedanimation7, () => {
          elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation8 = document.querySelector("#contact-container h1");
        inView(elementmedanimation8, () => {
          elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation9 = document.querySelector("#contact-info");
        inView(elementmedanimation9, () => {
          elementmedanimation9.classList.add("animate__animated", "animate__fadeInUp");
        });

        const elementmedanimation10 = document.querySelector(".button-container");
        inView(elementmedanimation10, () => {
          elementmedanimation10.classList.add("animate__animated", "animate__fadeInRight");
        });
      }
    });
  </script>

  <style>
    body.dark h1 {
      color: #f6f6f6;
    }

    body.dark #contact-info {
      border-color: #6d6d6d;
    }

    body.dark #contact-info strong,
    body.dark #contact-info a {
      color: #f6f6f6;
    }

    body.dark #contact-info a:hover {
      color: #d3302f;
    }
  </style>
</MainLayout>
