---
import Button from "../components/Button.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout
  title="Contact"
  description="Contact Sara Ringkow Petersen"
  ogtitle="SRP portfolio - contact"
  ogdescription="Contact Sara Ringkow Petersen"
>
  <section id="contact" class="container mx-auto md:px-6 px-8 md:mt-desktop-top mt-mobil-top">
    <!-- Contact Information Section -->
    <div id="contact-form-container" class="md:pt-16 pt-12 flex flex-col md:flex-row gap-12 justify-center">
      <!-- Image and Contact Info Box -->
      <div id="contact-container" class="flex flex-col md:flex-row items-center">
        <!-- Image -->
        <img
          src="images/pfp.webp"
          alt="portrait of Sara"
          class="w-48 h-48 md:w-[350px] md:h-[350px] object-cover rounded-full border border-gray-950 mb-12 md:mb-0 md:mr-12"
        />

        <!-- Contact Information Box -->
        <div class="space-y-4">
          <h1 id="contact-title" class="md:text-left text-center md:text-h2-desktop text-h2-mobile font-bold text-gray-950 md:pb-5 pb-2">
            Let's talk!
          </h1>
          <div id="contact-info" class="py-4 md:py-6 border-y border-gray-950 text-gray-950">
            <ul class="md:space-y-4 space-y-2">
              <li class="some1">
                <strong class="text-gray-950">Email:</strong><br class="md:hidden block" />
                <a href="mailto:sara.ringkow@gmail.com" class="text-gray-950 hover:text-red-500 py-1">sara.ringkow@gmail.com</a>
                <span class="text-gray-950 text-[20px]">/</span>
                <a href="mailto:sape0003@stud.kea.dk" class="text-gray-950 hover:text-red-500 py-1">sape0003@stud.kea.dk</a>
              </li>
              <li class="some1 md:pt-0 pt-4">
                <strong class="text-gray-950">Phone:</strong><br class="md:hidden block" />
                <a href="tel:+4542428807" class="text-gray-950 hover:text-red-500 py-1">+45 42 42 88 07</a>
              </li>
              <li class="some1 md:pt-0 pt-4">
                <strong class="text-gray-950">Linkedin:</strong><br class="md:hidden block" />
                <a href="https://www.linkedin.com/in/sara-ringkow-petersen-49830b264/" class="text-gray-950 hover:text-red-500 py-1">
                  linkedin.com/in/sara-ringkow-petersen
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="button-container mx-auto pb-16 pt-16 text-center">
    <a href="/" class="mt-8 btn_container">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>

  <script>
    import { inView } from "motion";

    const elementmedanimation7 = document.querySelector("#contact-info-container");
    inView(elementmedanimation7, () => {
      elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation8 = document.querySelector("#contact-form-container");
    inView(elementmedanimation8, () => {
      elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
    });

    const elementmedanimation9 = document.querySelector("#contact-container");
    inView(elementmedanimation9, () => {
      elementmedanimation9.classList.add("animate__animated", "animate__fadeInLeft");
    });
  </script>
</MainLayout>
