---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import "../styles/tobii.min.css";
---

<MainLayout
  title="Gallery"
  description="Gallery and media from the creator of the portfolio"
  ogtitle="SRP portfolio - gallery"
  ogdescription="Gallery and media from the creator"
>
  <!-- Gallery Section -->
  <section id="gallery" class="container mx-auto py-6 px-4 bg-blue-800 bg-opacity-70 rounded-lg shadow-lg">
    <!-- Intro Section -->
    <div class="mb-12">
      <h2 class="heading-title max-w-2xl mx-auto font-bold md:text-left text-center text-grey-500 md:pt-36 pt-32">Gallery & media</h2>
      <p class="heading-text text-gray-300 mt-4 max-w-2xl mx-auto md:text-left text-center">
        A collection of the different media that I've made and used during my studies. It includes snippets of research from old projects,
        screenshots, a video, and more.<br /><br />
        <em class="text-gray-400">Click on the different media-types to enlarge them.</em>
      </p>
    </div>

    <!-- Media Grid -->
    <div class="main grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Media Item 1 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/entrance_exam.webp" class="w-full h-full lightbox" aria-label="Entrance-exam (frontpage)">
          <img
            src="/images/entrance_exam.webp"
            alt="Screenshot of the entrance-exam for the frontpage"
            class="w-full h-full object-cover transition-transform duration-300 group-hover:scale-105 rounded-lg shadow-md"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">Entrance-exam <br /><em class="text-gray-400">(frontpage)</em></p>
          </div>
        </a>
      </div>

      <!-- Media Item 2 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/t2_studiestartsproeve7.png" class="w-full h-full lightbox" aria-label="Entrance-exam (computer-page)">
          <img
            src="/images/t2_studiestartsproeve7.png"
            alt="Screenshot of the entrance-exam for the computer-page"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Entrance-exam <br /><em class="text-gray-400">(computer-page)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 19 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/ux_presentation.png" class="w-full h-full lightbox" aria-label="UX/UI-site (presentation)">
          <img
            src="/images/ux_presentation.png"
            alt="Screenshot of the presentation for the UX/UI-site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              UX/UI-site <br /><em class="text-gray-400">(presentation)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 20 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/moodboard_t3_ux.WEBP" class="w-full h-full lightbox" aria-label="Moodboard (UX/UI-site)">
          <img
            src="/images/moodboard_t3_ux.WEBP"
            alt="Screenshot of the moodboard for the UX/UI-site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">Moodboard <br /><em class="text-gray-400">(UX/UI-site)</em></p>
          </div>
        </a>
      </div>
      <!-- Media Item 22 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/animation-site.webp" class="w-full h-full lightbox" aria-label="Animation-site (frontpage)">
          <img
            src="/images/animation-site.webp"
            alt="Screenshot of the frontpage for the animation-site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">Animation-site <br /><em class="text-gray-400">(frontpage)</em></p>
          </div>
        </a>
      </div>

      <!-- Media Item 5 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/t4_state_machine.jpg" class="w-full h-full lightbox" aria-label="Animation-site (state-machine diagram)">
          <img
            src="/images/t4_state_machine.jpg"
            alt="Screenshot of the state-machine diagram for the animation-site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Animation-site <br /><em class="text-gray-400">(state-machine diagram)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 6 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/t4_paper_prototype.jpg" class="w-full h-full lightbox" aria-label="Animation-site (paper-prototype)">
          <img
            src="/images/t4_paper_prototype.jpg"
            alt="Screenshot of the paper-prototype for the animation-site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Animation-site <br /><em class="text-gray-400">(paper-prototype)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 23 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/videosite.webp" class="w-full h-full lightbox" aria-label="Videosite (main-page)">
          <img
            src="/images/videosite.webp"
            alt="Screenshot of the main-page for the videosite"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">Videosite <br /><em class="text-gray-400">(main-page)</em></p>
          </div>
        </a>
      </div>

      <!-- Media Item 3 (Video) -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/videos/interview.mp4" data-type="iframe" class="w-full h-full lightbox" aria-label="Video-site (interview | DA)">
          <video
            src="/videos/interview.mp4"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
            controls></video>
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Video-site <br /><em class="text-gray-400">(interview | DA)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 24 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/mak.webp" class="w-full h-full lightbox" aria-label="The MAK committee (frontpage)">
          <img
            src="/images/mak.webp"
            alt="Screenshot of the frontpage for the MAK committee site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              The MAK committee <br /><em class="text-gray-400">(frontpage)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 4 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/mak_nyheder.png" class="w-full h-full lightbox" aria-label="The MAK committee (news-page)">
          <img
            src="/images/mak_nyheder.png"
            alt="Screenshot of the news-page for the MAK committee site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              The MAK committee <br /><em class="text-gray-400">(news-page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 7 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/portfolio_lofi.png" class="w-full h-full lightbox" aria-label="First portfolio-site (lo-fi wireframe)">
          <img
            src="/images/portfolio_lofi.png"
            alt="Screenshot of the lo-fi wireframe for the first portfolio-site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              First portfolio-site <br /><em class="text-gray-400">(lo-fi wireframe)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 8 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/1st_portfolio.webp" class="w-full h-full lightbox" aria-label="First portfolio-site (frontpage)">
          <img
            src="/images/1st_portfolio.webp"
            alt="Screenshot of the frontpage for the first portfolio-site"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              First portfolio-site <br /><em class="text-gray-400">(frontpage)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 21 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/vildmad.webp" class="w-full h-full lightbox" aria-label="Vild Mad (frontpage)">
          <img
            src="/images/vildmad.webp"
            alt="Screenshot of the frontpage for Vild Mad"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">Vild Mad <br /><em class="text-gray-400">(frontpage)</em></p>
          </div>
        </a>
      </div>

      <!-- Media Item 9 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/karrusel.webp" class="w-full h-full lightbox" aria-label="Karrusel Festival (frontpage)">
          <img
            src="/images/karrusel.webp"
            alt="Screenshot of the frontpage for Karrusel Festival"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Karrusel Festival<br /><em class="text-gray-400">(frontpage)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 10 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/itmv.webp" class="w-full h-full lightbox" aria-label="I Tråd Med Verden (top-section)">
          <img
            src="/images/itmv.webp"
            alt="Screenshot of the top-section for I Tråd Med Verden"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              I Tråd Med Verden <br /><em class="text-gray-400">(top-section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 11 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/susse_volander.webp" class="w-full h-full lightbox" aria-label="Volander Art (frontpage)">
          <img
            src="/images/susse_volander.webp"
            alt="Screenshot of the frontpage for Volander Art"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg uppercase">Volander Art <br /><em class="text-gray-400">(frontpage)</em></p>
          </div>
        </a>
      </div>
      <!-- Media Item 12 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/styletile_2.png" class="w-full h-full lightbox" aria-label="Style-tile (Volander Art)">
          <img
            src="/images/styletile_2.png"
            alt="Screenshot of the style-tile for Volander Art"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">Style-tile <br /><em class="text-gray-400">(Volander Art)</em></p>
          </div>
        </a>
      </div>

      <!-- Media Item 13 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/digital_cleanup_day.webp" class="w-full h-full lightbox" aria-label="Digital Skraldedag (frontpage)">
          <img
            src="/images/digital_cleanup_day.webp"
            alt="Screenshot of the frontpage for Digital Skraldedag 2025"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Digital Skraldedag <br /><em class="text-gray-400">(frontpage)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 14 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/internship_prep.webp" class="w-full h-full lightbox" aria-label="Digital application (hero-section)">
          <img
            src="/images/internship_prep.webp"
            alt="Screenshot of the hero-section for the digital application"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Digital application <br /><em class="text-gray-400">(hero-section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 15 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/background.webp" class="w-full h-full lightbox" aria-label="Digital application (background-image)">
          <img
            src="/images/background.webp"
            alt="Screenshot of the digital application (background-image)"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Digital application <br /><em class="text-gray-400">(background-image)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 16 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/2nd_portfolio.jpeg" class="w-full h-full lightbox" aria-label="New portfolio-site (first wireframe-iteration)">
          <img
            src="/images/2nd_portfolio.jpeg"
            alt="Screenshot of the first wireframe-iteration for the new portfolio-site (this website)"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              New portfolio-site <br /><em class="text-gray-400">(first wireframe-iteration)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 3 (Video) -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a
          href="/videos/application_video.mp4"
          data-type="iframe"
          class="w-full h-full lightbox"
          aria-label="Internship-preparations (application-video | DA)"
        >
          <video
            src="/videos/application_video.mp4"
            class="w-full h-full rounded-lg shadow-md object-cover transition-transform duration-300 group-hover:scale-105"
            controls></video>
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              Internship-preparations<br /><em class="text-gray-400">(application-video | DA)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 18 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/singleusesucks.webp" class="w-full h-full lightbox" aria-label="#SingleUseSucks (hero-section)">
          <img
            src="/images/singleusesucks.webp"
            alt="Screenshot of the hero-section for #SingleUseSucks"
            class="w-full h-full rounded-lg shadow-md object-cover duration-300 transition-transform group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-300 font-semibold text-lg text-center uppercase">
              #SingleUseSucks <br /><em class="text-gray-400">(hero-section)</em>
            </p>
          </div>
        </a>
      </div>
    </div>
  </section>
  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 pt-8 text-center">
    <a
      href="/"
      class="relative z-[1] text-grey-500 bg-red-500 font-bold rounded-lg text-sm px-6 py-3 inline-flex items-center justify-center overflow-hidden group mt-8 transition duration-300 uppercase hover:shadow-lg hover:shadow-red-500 hover:bg-red-600"
    >
      <span class="button-text text-sm relative z-[1] w-full text-center uppercase">Back to homepage</span>
      <span
        class="absolute inset-0 bg-gradient-to-r from-red-700 to-red-900 transition-all duration-500 ease-in-out translate-x-full group-hover:translate-x-0"
      ></span>
    </a>
  </section>
</MainLayout>
<script is:inline src="/tobii.min.js"></script>
<script defer>
  const tobii = new Tobii();
</script>
<script>
  import { animate, inView } from "motion";
  /*Entrance Animation*/
  animate("body", { opacity: [0, 1] }, { duration: 1 });

  /** inView Animations */
  const elementmedanimation1 = document.querySelector(".main");
  inView(elementmedanimation1, () => {
    elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
  });

  const elementmedanimation2 = document.querySelector(".heading-title");
  inView(elementmedanimation2, () => {
    elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
  });

  const elementmedanimation3 = document.querySelector(".heading-text");
  inView(elementmedanimation3, () => {
    elementmedanimation3.classList.add("animate__animated", "animate__backInLeft");
  });

  const elementmedanimation4 = document.querySelector(".button-container");
  inView(elementmedanimation4, () => {
    elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
  });
</script>

<style>
  p,
  em,
  h2 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .grid-text {
    text-transform: uppercase;
  }

  .expanded {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    transition: all 0.3s ease-in-out;
  }
  .expanded img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
</style>
