---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import "../styles/tobii.min.css";
import Button from "../components/Button.astro";
---

<MainLayout
  title="SRP portfolio | Gallery"
  description="Gallery and media from Saras projects"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="See the gallery with all the different media-types from a majority of Saras projects"
>
  <!-- Intro-section -->
  <section
    class="main grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:mt-20 mt-8 md:px-0 px-8 mx-auto relative container max-w-6xl md:text-left text-center"
  >
    <div class="relative col-span-12 md:pt-12 pt-16 md:pb-20 pb-8">
      <h1 class="heading-title font-bold md:text-left text-center text-gray-950 mb-8">Gallery & media</h1>
      <p class="heading-text text-gray-800 max-w-3xl">
        A gallery filled with all the different media from a majority of my projects.<br />Just click on the different media types to enlarge them.
      </p>
    </div>
  </section>

  <!-- Gallery Section -->
  <section id="gallery" class="container grid grid-cols-12 md:pt-0 max-w-6xl mx-auto md:px-0 px-8">
    <!-- Media Grid -->
    <div id="media-grid" class="main col-span-12 grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-6">
      <!-- Media Item 1 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/entrance_exam.webp" class="w-full h-full lightbox" aria-label="Entrance exam (front page)">
          <img
            src="/images/entrance_exam.webp"
            alt="Screenshot of the entrance exam for the front page"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute inset-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Entrance exam <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 2 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/t2_studiestartsproeve7.png" class="w-full h-full lightbox" aria-label="Entrance exam (computer page)">
          <img
            src="/images/t2_studiestartsproeve7.png"
            alt="Screenshot of the entrance exam for the computer page"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Entrance exam <br /><em class="text-gray-50">(computer page)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 3 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/ux_presentation.png" class="w-full h-full lightbox" aria-label="UX/UI site (presentation)">
          <img
            src="/images/ux_presentation.png"
            alt="Screenshot of the presentation for the UX/UI site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              UX/UI site <br /><em class="text-gray-50">(presentation)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 4 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/moodboard_t3_ux.WEBP" class="w-full h-full lightbox" aria-label="Moodboard (UX/UI site)">
          <img
            src="/images/moodboard_t3_ux.WEBP"
            alt="Screenshot of the moodboard for the UX/UI site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Moodboard <br /><em class="text-gray-50">(UX/UI site)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 5 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/animation-site.webp" class="w-full h-full lightbox" aria-label="Animation site (front page)">
          <img
            src="/images/animation-site.webp"
            alt="Screenshot of the front page for the animation site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Animation site <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 6 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/t4_state_machine.jpg" class="w-full h-full lightbox" aria-label="Animation site (state-machine diagram)">
          <img
            src="/images/t4_state_machine.jpg"
            alt="Screenshot of the state-machine diagram for the animation site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Animation site <br /><em class="text-gray-50">(state-machine diagram)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 7 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/t4_paper_prototype.jpg" class="w-full h-full lightbox" aria-label="Animation site (paper prototype)">
          <img
            src="/images/t4_paper_prototype.jpg"
            alt="Picture of the paper prototype for the animation site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Animation site <br /><em class="text-gray-50">(paper prototype)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 8 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/videosite.webp" class="w-full h-full lightbox" aria-label="Video site (main page)">
          <img
            src="/images/videosite.webp"
            alt="Screenshot of the main page for the video site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Video site <br /><em class="text-gray-50">(main page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 9 (Video) -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/videos/interview.mp4" data-type=" iframe" class="w-full h-full lightbox" aria-label="Interview video for the video site (DA)">
          <video
            src="/videos/interview.mp4"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
            controls></video>
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Video site <br /><em class="text-gray-50">(interview | DA)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 10 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/mak.webp" class="w-full h-full lightbox" aria-label="The MAK committee (front page)">
          <img
            src="/images/mak.webp"
            alt="Screenshot of the front page for the MAK committee site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              The MAK committee <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 11 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/mak_nyheder.png" class="w-full h-full lightbox" aria-label="The MAK committee (news page)">
          <img
            src="/images/mak_nyheder.png"
            alt="Screenshot of the news page for the MAK committee site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              The MAK committee <br /><em class="text-gray-50">(news page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 12 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/portfolio_lofi.png" class="w-full h-full lightbox" aria-label="First portfolio site (lo-fi wireframe)">
          <img
            src="/images/portfolio_lofi.png"
            alt="Screenshot of the lo-fi wireframe for the first portfolio site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              First portfolio site <br /><em class="text-gray-50">(lo-fi wireframe)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 13 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/1st_portfolio.webp" class="w-full h-full lightbox" aria-label="First portfolio site (front page)">
          <img
            src="/images/1st_portfolio.webp"
            alt="Screenshot of the front page for the first portfolio site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              First portfolio site <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 14 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/vildmad.webp" class="w-full h-full lightbox" aria-label="Vild Mad (front page)">
          <img
            src="/images/vildmad.webp"
            alt="Screenshot of the front page for Vild Mad"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Vild Mad <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 15 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/karrusel.webp" class="w-full h-full lightbox" aria-label="Karrusel Festival (front page)">
          <img
            src="/images/karrusel.webp"
            alt="Screenshot of the front page for Karrusel Festival"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Karrusel Festival<br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 16 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/itmv.webp" class="w-full h-full lightbox" aria-label="I Tråd Med Verden (top section)">
          <img
            src="/images/itmv.webp"
            alt="Screenshot of the top section for I Tråd Med Verden"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              I Tråd Med Verden <br /><em class="text-gray-50">(top section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 17 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/susse_volander.webp" class="w-full h-full lightbox" aria-label="Volander Art (front page)">
          <img
            src="/images/susse_volander.webp"
            alt="Screenshot of the front page for Volander Art"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Volander Art <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 18 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/styletile_2.png" class="w-full h-full lightbox" aria-label="Style tile (Volander Art)">
          <img
            src="/images/styletile_2.png"
            alt="Screenshot of the style tile for Volander Art"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Style tile <br /><em class="text-gray-50">(Volander Art)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 19 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/digital_cleanup_day.webp" class="w-full h-full lightbox" aria-label="Digital Skraldedag (front page)">
          <img
            src="/images/digital_cleanup_day.webp"
            alt="Screenshot of the front page for Digital Skraldedag 2025"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Digital Skraldedag <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>
      <!-- Media Item 20 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/internship_prep.webp" class="w-full h-full lightbox" aria-label="Digital application (hero section)">
          <img
            src="/images/internship_prep.webp"
            alt="Screenshot of the hero section for the digital application"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Digital application <br /><em class="text-gray-50">(hero section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 21 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/background.webp" class="w-full h-full lightbox" aria-label="Digital application (old background image)">
          <img
            src="/images/background.webp"
            alt="Picture of the old background image for the digital application"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Digital application <br /><em class="text-gray-50">(old background image)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 22 (Video) -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a
          href="/videos/application_video.mp4"
          data-type="iframe"
          class="w-full h-full lightbox"
          aria-label="Internship preparations (application video | DA)"
        >
          <video
            src="/videos/application_video.mp4"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
            controls></video>
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Internship preparations<br /><em class="text-gray-50">(application video | DA)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 23 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/singleusesucks.webp" class="w-full h-full lightbox" aria-label="#SingleUseSucks (hero section)">
          <img
            src="/images/singleusesucks.webp"
            alt="Screenshot of the hero section for the #SingleUseSucks site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105 rounded-[5px] shadow-drop5"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              #SingleUseSucks <br /><em class="text-gray-50">(hero section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 24 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/access.webp" class="w-full h-full lightbox" aria-label="ACCESS - selfmade font (top section)">
          <img
            src="/images/access.webp"
            alt="Screenshot of the top section for the ACCESS font site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              ACCESS – selfmade font <br /><em class="text-gray-50">(top section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 25 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/access_mockup.webp" class="w-full h-full lightbox" aria-label="ACCESS - selfmade font (mockup)">
          <img
            src="/images/access_mockup.webp"
            alt="Picture of the mockup for the ACCESS font site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              ACCESS - selfmade font <br /><em class="text-gray-50">(mockup)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 29 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/hojskolendk.webp" class="w-full h-full lightbox" aria-label="HÖJSKOLENDK (hero section)">
          <img
            src="/images/hojskolendk.webp"
            alt="Screenshot of the hero section for the HÖJSKOLENDK site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105 brightness-[120%] contrast-[110%]"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              HÖJSKOLENDK <br /><em class="text-gray-50">(hero section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 30 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/hojskolendk_infomeeting.webp" class="w-full h-full lightbox" aria-label="HÖJSKOLENDK (infomeeting page)">
          <img
            src="/images/hojskolendk_infomeeting.webp"
            alt="Screenshot of the infomeeting page for the HÖJSKOLENDK site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105 brightness-[120%] contrast-[110%]"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              HÖJSKOLENDK <br /><em class="text-gray-50">(infomeeting page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 31 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/vinens_essens.webp" class="w-full h-full lightbox" aria-label="Vinens Essens (hero section)">
          <img
            src="/images/vinens_essens.webp"
            alt="Screenshot of the hero section for the Vinens Essens site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105 brightness-[120%] contrast-[110%]"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Vinens Essens <br /><em class="text-gray-50">(hero section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 32 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/vinens_essens_listview.webp" class="w-full h-full lightbox" aria-label="Vinens Essens (listview page)">
          <img
            src="/images/vinens_essens_listview.webp"
            alt="Screenshot of the listview page for the Vinens Essens site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105 brightness-[120%] contrast-[110%]"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Vinens Essens <br /><em class="text-gray-50">(listview page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 33 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/kadaver.webp" class="w-full h-full lightbox" aria-label="Kadaver (hero section)">
          <img
            src="/images/kadaver.webp"
            alt="Screenshot of the hero section for the Kadaver site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105 brightness-[120%] contrast-[110%]"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Kadaver <br /><em class="text-gray-50">(hero section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 34 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/superheltedagen.webp" class="w-full h-full lightbox" aria-label="Superheltedagen (hero section)">
          <img
            src="/images/superheltedagen.webp"
            alt="Screenshot of the hero section for the Superheltedagen site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Superheltedagen <br /><em class="text-gray-50">(hero section)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 35 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/superheltedagen_styletile.webp" class="w-full h-full lightbox" aria-label="Superheltedagen (style tile)">
          <img
            src="/images/superheltedagen_styletile.webp"
            alt="Screenshot of the style tile for the Superheltedagen site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              Superheltedagen <br /><em class="text-gray-50">(style tile)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 36 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/cp_frontpage.webp" class="w-full h-full lightbox" aria-label="CP Danmark (front page)">
          <img
            src="/images/cp_frontpage.webp"
            alt="Screenshot of the front page for the CP Danmark site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">
              CP Danmark <br /><em class="text-gray-50">(front page)</em>
            </p>
          </div>
        </a>
      </div>

      <!-- Media Item 37 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/cp_moodboard.webp" class="w-full h-full lightbox" aria-label="CP Danmark (moodboard)">
          <img
            src="/images/cp_moodboard.webp"
            alt="Screenshot of the moodboard for the CP Danmark site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">CP Danmark <br /><em class="text-gray-50">(moodboard)</em></p>
          </div>
        </a>
      </div>

      <!-- Media Item 38 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/cp_styletile.webp" class="w-full h-full lightbox" aria-label="CP Danmark (style tile)">
          <img
            src="/images/cp_styletile.webp"
            alt="Screenshot of the style tile for the CP Danmark site"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">CP Danmark <br /><em class="text-gray-50">(style-tile)</em></p>
          </div>
        </a>
      </div>

      <!-- Media Item 39 -->
      <div class="relative group w-full h-64 overflow-hidden">
        <a href="/images/404_error.webp" class="w-full h-full lightbox" aria-label="No media to show">
          <img
            src="/images/404_error.webp"
            alt="No media to show, as of now"
            class="w-full h-full border border-gray-950 object-cover transition-transform duration-300 group-hover:scale-105"
          />
          <div
            class="absolute top-0 left-0 right-0 bottom-0 bg-black bg-opacity-60 flex items-center justify-center opacity-0 group-hover:opacity-100 transition-opacity duration-300"
          >
            <p class="text-gray-50 font-semibold text-center text-[20px] uppercase">No media yet</p>
          </div>
        </a>
      </div>
    </div>
  </section>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 md:pt-12 pt-16 text-center">
    <a href="/" class="mt-8 btn_container" aria-label="Back to homepage">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>
</MainLayout>

<script is:inline src="/tobii.min.js"></script>
<script defer>
  const tobii = new Tobii();
</script>
<script>
  import { inView } from "motion";

  /** inView Animations */
  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector(".main");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation2 = document.querySelector(".heading-title");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector(".heading-text");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation4 = document.querySelector(".button-container");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
      });

      const grid = document.querySelectorAll("#media-grid > div");

      grid.forEach((grid, index) => {
        inView(grid, () => {
          grid.classList.add("animate__animated", "animate__fadeInUp");
          grid.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });
    }
  });
</script>

<style>
  .grid-text {
    text-transform: uppercase;
  }

  .expanded {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    z-index: 50;
    transition: all 0.3s ease-in-out;
  }
  .expanded img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  body.dark .heading-title,
  body.dark .heading-text {
    color: #f6f6f6;
  }

  body.dark #lines hr {
    border-color: #6d6d6d;
  }

  body.dark #media-grid img,
  body.dark #media-grid a {
    border-color: #6d6d6d;
  }
</style>
