---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
import Cases from "../components/Cases.astro";
---

<MainLayout
  title="Homepage"
  description="Portfolio of Sara Ringkow Petersen"
  ogtitle="SRP portfolio - homepage"
  ogdescription="Portfolio-site for Sara Ringkow Petersen"
>
  <!-- Hero Section -->
  <section id="hero" class="relative container grid grid-cols-12 mx-auto md:pt-desktop-top pt-mobil-top md:mt-16 mt-8">
    <!-- Content of Hero Section (kept on top with z-index) -->
    <div class="relative md:pb-0 md:col-span-12 col-span-10 col-start-2 mx-auto flex flex-col justify-center">
      <h1 id="hero-title" class="display text-gray-950 md:pt-12 pt-8">Hey there!</h1>
      <h2 id="hero-subtitle" class="font-dense text-gray-950 mt-4 mb-10">Welcome to my portfolio</h2>
      <p id="hero-text" class="text-gray-950 md:mt-0 md:mb-16 mb-4 md:max-w-4xl">
        I'm Sara Ringkow Petersen, an aspiring multimedia-designer with a strong passion for creating engaging and accessible digital experiences. If
        you're interested in learning more about me or just want to get in touch, feel free to reach out through the contact-page. Or look through the
        other pages, if you're looking for something else!
      </p>
    </div>
  </section>
  <div id="lines" class="md:max-w-none max-w-6xl mx-auto md:px-6 px-4">
    <hr class="md:mx-auto border-gray-950 mt-5 md:w-[70%] w-[90%]" />
    <hr class="md:mx-auto border-gray-950 mt-5 md:w-[50%] w-[70%] md:pb-12 pb-8" />
  </div>

  <!-- Projects Section -->
  <div class="grid grid-cols-12 md:mt-16 mt-0 md:pb-0 pb-16 max-w-7xl mx-auto"></div>
  <div id="projects" class="grid grid-cols-12 max-w-7xl mx-auto">
    <section id="project-section" class="md:col-span-12 col-start-2 col-span-10">
      <Cases />
    </section>
  </div>
</MainLayout>

<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#hero-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation2 = document.querySelector("#hero-subtitle");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation3 = document.querySelector("#hero-text");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation4 = document.querySelector("#lines");
      inView(elementmedanimation4, () => {
        elementmedanimation4.classList.add("animate__animated", "animate__backInRight");
      });
    }
  });
</script>

<style>
  body.dark #hero-title,
  body.dark #hero-subtitle,
  body.dark #hero-text {
    color: #f6f6f6;
  }

  body.dark #lines hr {
    border-color: #f6f6f6;
  }
</style>
