---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
import Cases from "../components/Cases.astro";
---

<MainLayout
  title="SRP portfolio | Homepage"
  description="The frontpage of the portfolio"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="A page for projects, information and other things about Sara"
>
  <!-- Hero Section -->
  <section class="hero-section grid grid-cols-12 md:pt-0 pt-mobil-top w-full h-screen md:px-0 px-4 relative">
    <div class="absolute inset-0 max-w-7xl mx-auto md:px-0 px-8 z-20 md:mt-0 mt-32">
      <div class="grid grid-cols-12 items-center justify-center h-full">
        <!-- Text content -->
        <div class="col-span-12">
          <h1 id="hero-title" class="display md:pb-7 pb-5 font-dense">Sara Ringkow Petersen</h1>
          <h2 class="md:text-h3-desktop text-h3-mobile font-lato font-light pb-2 text-gray-50 max-w-3xl" id="hero-text" class="leading-7">
            <span>Multimedia-designer |</span><span> UX-design </span><span>| web-development </span><span> | creative problem-solving </span><span>
              | inclusive digital solutions</span
            >
          </h2>
        </div>
      </div>
    </div>

    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img
        src="/images/hero_image.webp"
        alt="Hero-image for the frontpage of the portfolio"
        class="w-full h-full object-cover brightness-75 grayscale"
      />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>

    <div id="scroll-down" class="hidden md:block absolute bottom-[1%] md:bottom-[2.5%] w-full justify-center z-[20]">
      <a href="#project-section" aria-label="Go further down" class="focus:outline-none focus:ring-2 focus:ring-red-300">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-[18px] text-gray-50 font-semibold">Go further down the page</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>

  <!-- Projects Section -->
  <section id="project-section" class="grid grid-cols-12 md:pt-desktop-top pt-mobil-top max-w-7xl mx-auto">
    <div class="container col-span-12">
      <h3 id="project-title" class="col-span-12 mb-2 text-gray-950 md:px-0 px-6">Highlighted projects</h3>
      <p id="project-text" class="col-span-12 text-gray-950 md:px-0 px-6 mb-8">A selection of my older and most recent projects.</p>
    </div>
    <div class="col-span-12 md:px-0 px-6">
      <Cases />
    </div>
  </section>

  <!-- Testimonials Section -->
  <section id="testimonials" class="grid grid-cols-12 max-w-7xl mx-auto md:pt-desktop-top pt-mobil-top px-6">
    <div class="container max-w-6xl mx-auto col-span-12">
      <h3 class="mb-2 text-gray-950">What is said about me <br class="md:hidden block" /> and my work?</h3>
      <p class="text-gray-950 md:mb-12 mb-8 leading-7">
        I take pride in my work and strive to deliver high-quality solutions that exceed expectations.<br />Below are a some testimonials from people
        that have seen my work in action <em>(there are more to come)</em>.
      </p>
      <div id="testimonials-cards" class="grid grid-cols-1 md:mt-10 mt-8">
        <blockquote class="bg-gray-100 rounded-2xl p-6 border-l-4 border border-gray-200">
          <p class="text-gray-950 italic leading-7">
            "Sara has shown consistent presence, where she has been fully involved in the daily operations of the agency. <em class="font-bold"
              >[...]</em
            > Both in team-configurations and independently, Sara has demonstrated great responsibility and a strong desire to find solutions that met
            the client's needs&mdash; this has been the case in both her work with design and coding."
          </p>
          <p class="mt-4 text-sm font-semibold text-gray-700">
            – Jacob Klintrup, partner and creative strategic director <br /><em>(on behalf of the team at Kadaver)</em>
          </p>
        </blockquote>
      </div>
    </div>
  </section>

  <!-- Accessibility Section -->
  <section id="accessibility-section" class="md:pt-desktop-top pt-mobil-top px-6">
    <div id="accessibility-container" class="max-w-6xl mx-auto">
      <h3 class="text-gray-950">Accessibility matters</h3>
      <p class="mt-4 mb-8 text-gray-800 max-w-4xl">
        This site is built with accessibility at its core&mdash; from clear structure and semantic HTML, to responsive design and keyboard-navigation.
        I design with empathy because I know what it's like to navigate digital spaces that don't consider everyone.
      </p>
      <div class="accessibility-button">
        <a
          href="/accessibility"
          class="btn_container focus:outline-none focus:ring-2 focus:ring-red-300 ease-in-out"
          aria-label="Go to 'accessibility'-page"
        >
          <Button variant="secondary" size="small">Go to page to learn more</Button>
        </a>
      </div>
    </div>
  </section>

  <!-- How I work Section -->
  <section id="how-i-work" class="relative md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom px-6">
    <div class="max-w-6xl mx-auto">
      <h3 class="mb-2 text-gray-950">From idea to reality&mdash; this is how I do it</h3>
      <p class="text-gray-950 md:mb-12 mb-8 leading-7">
        My design-process ensures that every solution is user-centered, accessible and visually engaging.<br />When working on a project&mdash;
        usually when done alone &mdash;I go through the following steps:
      </p>

      <div id="process-cards" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-gap text-center">
        <!-- Step 1 -->
        <div class="flex flex-col items-center p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">🧠</div>
          <h4 class="text-h4-desktop font-dense font-bold text-gray-950 mb-2">Empathize</h4>
          <p class="text-gray-950">I start by exploring user-needs by testing and doing research to understand the problem and its context.</p>
        </div>

        <!-- Step 2 -->
        <div class="flex flex-col items-center p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">💡</div>
          <h4 class="text-h4-desktop font-dense font-bold text-gray-950 mb-2">Ideate & plan</h4>
          <p class="text-gray-950">I begin to brainstorm creative solutions and organise my process with Trello, Notion and Figma.</p>
        </div>

        <!-- Step 3 -->
        <div class="flex flex-col items-center p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">🎨</div>
          <h4 class="text-h4-desktop font-dense font-bold text-gray-950 mb-2">Design & build</h4>
          <p class="text-gray-950">I design the solution in Figma and code it with Tailwind and Astro, supplied with CSS and Javascript.</p>
        </div>

        <!-- Step 4 -->
        <div class="flex flex-col items-center p-6 bg-gray-100 rounded-2xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">🔁</div>
          <h4 class="text-h4-desktop font-dense font-bold text-gray-950 mb-2">Test & improve</h4>
          <p class="text-gray-950">I do thorough testing to ensure functionality and refine for clarity, accessibility and quality.</p>
        </div>
      </div>
    </div>
  </section>
</MainLayout>
<script>
  import { inView } from "motion";

  document.addEventListener("DOMContentLoaded", () => {
    const reduceMotion = document.body.classList.contains("reduce-motion");

    if (!reduceMotion) {
      const elementmedanimation1 = document.querySelector("#hero-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation6 = document.querySelector("#testimonials h3");
      inView(elementmedanimation6, () => {
        elementmedanimation6.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation6a = document.querySelector("#testimonials p");
      inView(elementmedanimation6a, () => {
        elementmedanimation6a.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation7 = document.querySelector("#how-i-work h3");
      inView(elementmedanimation7, () => {
        elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation8 = document.querySelector("#how-i-work p");
      inView(elementmedanimation8, () => {
        elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation12 = document.querySelector("#scroll-down");
      inView(elementmedanimation12, () => {
        elementmedanimation12.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation13 = document.querySelector("#project-section h3");
      inView(elementmedanimation13, () => {
        elementmedanimation13.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation14 = document.querySelector("#project-section p");
      inView(elementmedanimation14, () => {
        elementmedanimation14.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation15 = document.querySelector("#hero-image img");
      inView(elementmedanimation15, () => {
        elementmedanimation15.classList.add("animate__animated", "animate__bounceInDown");
      });

      const elementmedanimation16 = document.querySelector("#accessibility-section h3");
      inView(elementmedanimation16, () => {
        elementmedanimation16.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation17 = document.querySelector("#accessibility-section p");
      inView(elementmedanimation17, () => {
        elementmedanimation17.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation18 = document.querySelector(".accessibility-button");
      inView(elementmedanimation18, () => {
        elementmedanimation18.classList.add("animate__animated", "animate__fadeInDown");
      });

      const elementmedanimation19 = document.querySelector("#testimonials h3");
      inView(elementmedanimation19, () => {
        elementmedanimation19.classList.add("animate__animated", "animate__fadeInLeft");
      });

      const elementmedanimation20 = document.querySelector("#testimonials p");
      inView(elementmedanimation20, () => {
        elementmedanimation20.classList.add("animate__animated", "animate__fadeInRight");
      });

      const elementmedanimation21 = document.querySelector("#testimonials-cards");
      inView(elementmedanimation21, () => {
        elementmedanimation21.classList.add("animate__animated", "animate__fadeInUp");
      });

      const process = document.querySelectorAll("#process-cards > div");

      process.forEach((process, index) => {
        inView(process, () => {
          process.classList.add("animate__animated", "animate__fadeInUp");
          process.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });

      const hero = document.querySelectorAll("#hero-text > span");

      hero.forEach((hero, index) => {
        inView(hero, () => {
          hero.classList.add("animate__animated", "animate__fadeInUp");
          hero.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
        });
      });
    }
  });
</script>

<style>
  /* Floating Animation */
  @keyframes float {
    0% {
      transform: translatey(0);
    }
    50% {
      transform: translatey(-10px);
    }
    100% {
      transform: translatey(0);
    }
  }

  .float {
    animation: float 3s ease-in-out infinite;
  }

  #hero-title,
  #hero-text,
  #hero-text2 {
    color: #f6f6f6;
  }

  body.dark #testimonials h3,
  body.dark #how-i-work h3,
  body.dark #more-about-me h3,
  body.dark #more-about-me p,
  body.dark #testimonials p,
  body.dark #testimonials blockquote,
  body.dark #how-i-work p,
  body.dark #how-i-work h4,
  body.dark #project-section h3,
  body.dark #project-section p,
  body.dark #accessibility-section h3,
  body.dark #accessibility-section p {
    color: #f6f6f6;
  }

  body.dark #testimonials hr,
  body.dark #how-i-work hr,
  body.dark #more-about-me hr {
    border-color: #6d6d6d;
  }

  body.dark #process-cards div,
  body.dark #testimonials-cards blockquote {
    background-color: #454545;
    border-color: #6d6d6d;
  }

  body.dark #hero-image img {
    border-color: #6d6d6d;
  }
</style>
