---
const fetchCards = async () => {
  const response = await fetch("https://bbmabdbbjpfqoapbtstm.supabase.co/rest/v1/portfolio_cases?order=id.asc", {
    method: "GET",
    headers: {
      apikey:
        "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJibWFiZGJianBmcW9hcGJ0c3RtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDI0NjkwNDYsImV4cCI6MjA1ODA0NTA0Nn0.gFnw6GZiMFOCMwy6rAcQFzoK0_qUJCwKNpl-XGzy574",
    },
  });
  return response.ok ? await response.json() : [];
};

const cards = await fetchCards();

function breakTitle(title, maxLength = 25) {
  if (title.length > maxLength) {
    const words = title.split(" ");
    let line = "";
    let lines = [];

    words.forEach((word) => {
      if ((line + " " + word).length <= maxLength) {
        line += " " + word;
      } else {
        lines.push(line.trim());
        line = word;
      }
    });

    lines.push(line.trim());
    return lines;
  }
  return [title];
}

import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
import Cases from "../components/Cases.astro";
---

<MainLayout
  title="SRP portfolio | Homepage"
  description="The frontpage of the portfolio"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="A page for projects, information and other things about Sara"
>
  <!-- Hero Section -->
  <section class="hero-section grid grid-cols-12 md:pt-0 pt-mobil-top w-full h-screen md:px-0 px-4 relative">
    <div class="absolute inset-0 max-w-7xl mx-auto md:px-0 px-8 z-20 md:mt-0 mt-32">
      <div id="hero-content" class="grid grid-cols-12 items-center justify-center h-full">
        <!-- Text content -->
        <div id="hero-content" class="col-span-12">
          <h1 class="text-gray-50 display pb-4">Sara Ringkow Petersen</h1>
          <h2 class="italic text-gray-50 md:text-[2.5rem] text-[2rem]">Multimedia Designer & Concept Developer</h2>
          <div class="space h-4"></div>
          <p class="text-gray-50 md:text-[1.4rem] text-[1.2rem] font-light pb-2 max-w-3xl leading-8">
            Passionate about creating accessible, user-centered digital experiences that blend design, development, and strategy
          </p>
        </div>
      </div>
    </div>

    <div class="hero_image w-full h-full absolute inset-0 z-0">
      <img
        src="/images/hero_image.webp"
        alt="Hero-image for the frontpage of the portfolio"
        class="w-full h-full object-cover brightness-75 grayscale"
      />
    </div>

    <div id="overlay1" class="absolute top-0 left-0 w-full h-full bg-gray-950 bg-opacity-[50%] z-0"></div>

    <div id="scroll-down" class="hidden md:block absolute bottom-[1%] md:bottom-[2.5%] w-full justify-center z-[20]">
      <a href="#project-section" aria-label="Go further down" class="focus:outline-none focus:ring-2 focus:ring-red-300">
        <div class="float flex flex-col items-center hover:opacity-80 transition duration-300 ease-in-out">
          <p class="text-gray-50 font-bold">Go further down the page</p>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8 sm:w-12 sm:h-12 text-gray-50 transition duration-300 ease-in-out"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"></path>
          </svg>
        </div>
      </a>
    </div>
  </section>

  <!-- Projects Section -->

  <section id="project-section" class="grid grid-cols-12 md:pt-desktop-top pt-mobil-top max-w-7xl mx-auto">
    <div class="container col-span-12">
      <h3 id="project-title" class="col-span-12 mb-2 text-gray-950 md:px-0 px-6">Projects</h3>
      <p id="project-text" class="col-span-12 text-gray-800 md:px-0 px-6 mb-8">
        Below are some of the projects I've worked on during my studies and internships. <br class="hidden md:block" />Click on any of the cards to
        read more about the project, the process and the outcome.
      </p>
    </div>
    <div class="col-span-12 md:px-0 px-6">
      <Cases projects={cards.sort((a, b) => new Date(b.created_at) - new Date(a.created_at))} />
    </div>
  </section>

  <!-- Intro Section: -->
  <section id="portfolio-intro" class="grid grid-cols-12 max-w-6xl mx-auto md:pt-desktop-top pt-mobil-top md:px-0 px-6">
    <div class="container col-span-12">
      <h3 class="mb-2 text-gray-950">The 3 W's behind the work</h3>
      <p class="text-gray-800 max-w-4xl md:mb-12 mb-8">
        My work is shaped by a blend of curiosity, creativity and a deep respect for inclusive design. The following gives you a quick look at who I
        am as a designer, what I do and the values that shape the way I work.
      </p>
    </div>
    <div id="intro-grid" class="grid md:grid-cols-3 grid-cols-1 col-span-12 gap-6">
      <!-- Who I am -->
      <div id="who-am-i" class="md:order-1 order-2 p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h3 class="text-h4-mobile md:text-h4-desktop font-bold text-gray-950 mb-2">Who am I?</h3>
        <p class="text-gray-800">
          I'm a multimedia designer and bachelor student in digital concept development with a creative mind and an interest in accessibility, user
          experience and digital storytelling. With a background in both design and development, I aim to build solutions that look good and feel
          great to use.
        </p>
      </div>

      <!-- What I do -->
      <div id="what-do-i-do" class="md:order-2 order-1 p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
        <h3 class="text-h4-mobile md:text-h4-desktop font-bold text-gray-950 mb-2">What do I do?</h3>
        <p class="text-gray-800">
          I design and develop websites, interfaces and digital concepts that focus on clarity, usability and inclusion&mdash; especially for people
          with special needs. My work spans from wireframing, prototyping, coding, accessibility auditing, user-testing, and so much more.
        </p>
      </div>

      <!-- Why I do it -->
      <div
        id="why-do-i-do-it"
        class="md:order-3 order-3 p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200"
      >
        <h3 class="text-h4-mobile md:text-h4-desktop font-bold text-gray-950 mb-2">Why do I do it?</h3>
        <p class="text-gray-800">
          I'm passionate about inclusive practices and strive to ensure that my work is accessible and inclusive for everyone. I believe that everyone
          should be able to access and use digital solutions, regardless of who they are.
        </p>
      </div>
    </div>

    <div id="want-to-know-more-about-me" class="col-span-12 md:mt-12 mt-8">
      <div>
        <h3 class="md:text-h4-desktop text-h4-mobile text-gray-950 font-bold mb-2">Wanna know more about me?</h3>
        <p class="text-gray-800 max-w-4xl mb-8">Click the button below to find out.</p>
      </div>
      <div class="know-more-button">
        <a href="/about_me" class="btn_container md:w-[50%]">
          <Button variant="secondary" size="small">Go to <em>About me</em></Button>
        </a>
      </div>
    </div>
  </section>

  <!-- Testimonials Section -->
  <section id="testimonials" class="grid grid-cols-12 max-w-7xl mx-auto md:pt-desktop-top pt-mobil-top px-6">
    <div class="container max-w-6xl mx-auto col-span-12">
      <h3 class="mb-2 text-gray-950">What others say about me</h3>
      <p class="text-gray-800 md:mb-12 mb-8 max-w-4xl">
        I take pride in my work and strive to deliver high-quality solutions that exceed expectations.<br class="hidden md:block" /> Below are a some testimonials
        from people that have seen my work in action <em>(there are more to come)</em>.
      </p>
      <div id="testimonials-cards" class="grid grid-cols-1 md:mt-10 mt-8">
        <blockquote class="bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200 p-8 mb-8">
          <p class="text-gray-800 italic">
            "Sara has shown consistent presence, where she has been fully involved in the daily operations of the agency. <em class="font-bold"
              >[...]</em
            > Both in team configurations and independently, Sara has demonstrated great responsibility and a strong desire to find solutions that meet
            the client's needs&mdash; this has been the case in both her work with design and coding."
          </p>
          <p class="mt-4 text-sm text-gray-700 font-semibold">
            – Jacob Klintrup, partner and creative strategic director <br /><em class="text-gray-700">(on behalf of the team at Kadaver ApS)</em>
          </p>
        </blockquote>
      </div>
    </div>
  </section>

  <!-- Accessibility Section -->
  <section id="accessibility-section" class="md:pt-desktop-top pt-mobil-top px-6">
    <div id="accessibility-container" class="max-w-6xl mx-auto">
      <h3 class="text-gray-950">How is this site accessible?</h3>
      <p class="mt-4 mb-8 text-gray-800 max-w-4xl">
        As a designer who's committed to inclusive practices, I've made it my top priority to ensure that this portfolio can be used by everyone,
        regardless of their needs. Read more about what measures I've taken to ensure that this site is accessible via the button below.
      </p>
      <div class="accessibility-button">
        <a
          href="/accessibility"
          class="btn_container focus:outline-none focus:ring-2 focus:ring-red-300 ease-in-out"
          aria-label="Go to 'accessibility'"
        >
          <Button variant="secondary" size="small">Go to <em>Accessibility</em></Button>
        </a>
      </div>
    </div>
  </section>

  <!-- How I work Section -->
  <section id="how-i-work" class="relative md:pt-desktop-top pt-mobil-top md:pb-desktop-bottom pb-mobil-bottom px-6">
    <div class="max-w-6xl mx-auto">
      <h3 class="mb-2 text-gray-950">From idea to reality&mdash; this is how I do it</h3>
      <p class="text-gray-800 md:mb-12 mb-8">
        My design process ensures that every solution is user-centred, accessible and visually engaging.<br class="hidden md:block" />When working on
        a project&mdash; usually when done alone &mdash;I go through the following steps:
      </p>

      <div id="process-cards" class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-gap text-center">
        <!-- Step 1 -->
        <div class="flex flex-col items-center p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">🧠</div>
          <h4 class="text-h4-mobile text-gray-950 mb-2">Empathize</h4>
          <p class="text-gray-800">I start by exploring user needs by testing and doing research to understand the problem and its context.</p>
        </div>

        <!-- Step 2 -->
        <div class="flex flex-col items-center p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">💡</div>
          <h4 class="text-h4-mobile text-gray-950 mb-2">Ideate & plan</h4>
          <p class="text-gray-800">I begin to brainstorm creative solutions and organise my process with Trello, Notion and Figma.</p>
        </div>

        <!-- Step 3 -->
        <div class="flex flex-col items-center p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">🎨</div>
          <h4 class="text-h4-mobile text-gray-950 mb-2">Design & build</h4>
          <p class="text-gray-800">I design the solution in Figma and code it with Tailwind and Astro, supplied with CSS and JavaScript.</p>
        </div>

        <!-- Step 4 -->
        <div class="flex flex-col items-center p-6 bg-gradient-to-br from-gray-50 to-gray-100 rounded-3xl border-l-4 border border-gray-200">
          <div class="mb-4 text-4xl">🔁</div>
          <h4 class="text-h4-mobile text-gray-950 mb-2">Test & improve</h4>
          <p class="text-gray-800">I do thorough testing to ensure functionality and refine for clarity, accessibility and quality.</p>
        </div>
      </div>
    </div>
  </section>

  <script>
    import { inView } from "motion";

    document.addEventListener("DOMContentLoaded", () => {
      const reduceMotion = document.body.classList.contains("reduce-motion");

      if (!reduceMotion) {
        const elementmedanimation1 = document.querySelector("#hero-content h1");
        inView(elementmedanimation1, () => {
          elementmedanimation1.classList.add("animate__animated", "animate__backInLeft");
        });

        const elementmedanimation6 = document.querySelector("#testimonials h3");
        inView(elementmedanimation6, () => {
          elementmedanimation6.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation6a = document.querySelector("#testimonials p");
        inView(elementmedanimation6a, () => {
          elementmedanimation6a.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation7 = document.querySelector("#how-i-work h3");
        inView(elementmedanimation7, () => {
          elementmedanimation7.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation8 = document.querySelector("#how-i-work p");
        inView(elementmedanimation8, () => {
          elementmedanimation8.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation12 = document.querySelector("#scroll-down");
        inView(elementmedanimation12, () => {
          elementmedanimation12.classList.add("animate__animated", "animate__fadeInDown");
        });

        const elementmedanimation13 = document.querySelector("#project-section h3");
        inView(elementmedanimation13, () => {
          elementmedanimation13.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation14 = document.querySelector("#project-section p");
        inView(elementmedanimation14, () => {
          elementmedanimation14.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation15 = document.querySelector("#hero-image img");
        inView(elementmedanimation15, () => {
          elementmedanimation15.classList.add("animate__animated", "animate__bounceInDown");
        });

        const elementmedanimation16 = document.querySelector("#accessibility-section h3");
        inView(elementmedanimation16, () => {
          elementmedanimation16.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation17 = document.querySelector("#accessibility-section p");
        inView(elementmedanimation17, () => {
          elementmedanimation17.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation18 = document.querySelector(".accessibility-button");
        inView(elementmedanimation18, () => {
          elementmedanimation18.classList.add("animate__animated", "animate__fadeInDown");
        });

        const elementmedanimation19 = document.querySelector("#testimonials h3");
        inView(elementmedanimation19, () => {
          elementmedanimation19.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation20 = document.querySelector("#testimonials p");
        inView(elementmedanimation20, () => {
          elementmedanimation20.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation21 = document.querySelector("#testimonials-cards");
        inView(elementmedanimation21, () => {
          elementmedanimation21.classList.add("animate__animated", "animate__fadeInUp");
        });

        const elementmedanimation22 = document.querySelector("#portfolio-intro h3");
        inView(elementmedanimation22, () => {
          elementmedanimation22.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation23 = document.querySelector("#portfolio-intro p");
        inView(elementmedanimation23, () => {
          elementmedanimation23.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation24 = document.querySelector("#want-to-know-more-about-me h3");
        inView(elementmedanimation24, () => {
          elementmedanimation24.classList.add("animate__animated", "animate__fadeInLeft");
        });

        const elementmedanimation25 = document.querySelector("#want-to-know-more-about-me p");
        inView(elementmedanimation25, () => {
          elementmedanimation25.classList.add("animate__animated", "animate__fadeInRight");
        });

        const elementmedanimation26 = document.querySelector(".know-more-button");
        inView(elementmedanimation26, () => {
          elementmedanimation26.classList.add("animate__animated", "animate__fadeInDown");
        });

        const elementmedanimation27 = document.querySelector("#hero-content h2");
        inView(elementmedanimation27, () => {
          elementmedanimation27.classList.add("animate__animated", "animate__fadeInDown");
        });

        const elementmedanimation28 = document.querySelector("#hero-content p");
        inView(elementmedanimation28, () => {
          elementmedanimation28.classList.add("animate__animated", "animate__fadeInUp");
        });

        const process = document.querySelectorAll("#process-cards > div");

        process.forEach((process, index) => {
          inView(process, () => {
            process.classList.add("animate__animated", "animate__fadeInUp");
            process.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
          });
        });

        const intro1 = document.querySelectorAll("#intro-grid > div");

        intro1.forEach((intro1, index) => {
          inView(intro1, () => {
            intro1.classList.add("animate__animated", "animate__fadeInUp");
            intro1.style.animationDelay = `${index * 0.2}s`; // Delay each image by 0.2s
          });
        });
      }
    });
  </script>

  <style>
    /* Floating Animation */
    @keyframes float {
      0% {
        transform: translatey(0);
      }
      50% {
        transform: translatey(-10px);
      }
      100% {
        transform: translatey(0);
      }
    }

    .float {
      animation: float 3s ease-in-out infinite;
    }

    .hero-title,
    .hero-subtitle,
    .hero-text {
      color: #f6f6f6;
    }

    body.dark #portfolio-intro h3,
    body.dark #portfolio-intro p,
    body.dark #testimonials h3,
    body.dark #how-i-work h3,
    body.dark #more-about-me h3,
    body.dark #more-about-me p,
    body.dark #testimonials p,
    body.dark #testimonials blockquote,
    body.dark #testimonials blockquote em,
    body.dark #how-i-work p,
    body.dark #how-i-work h4,
    body.dark #project-section h3,
    body.dark #project-section p,
    body.dark #accessibility-section h3,
    body.dark #accessibility-section p {
      color: #f6f6f6;
    }

    body.dark #testimonials hr,
    body.dark #how-i-work hr,
    body.dark #more-about-me hr {
      border-color: #6d6d6d;
    }

    body.dark #process-cards div,
    body.dark #testimonials-cards blockquote,
    body.dark #intro-grid > div {
      border-color: #6d6d6d;
      background: linear-gradient(to bottom right, #3a3a3a, #2d2d2d);
    }

    body.dark #portfolio-intro img {
      border-color: #6d6d6d;
    }

    #hero-subtitle-text,
    #hero-text-content {
      display: inline-block;
    }
  </style>
</MainLayout>
