---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import Button from "../components/Button.astro";
import Card from "../components/Card.astro";
---

<MainLayout
  title="SRP portfolio | Other projects"
  description="Other projects that Sara did"
  ogtitle="SRP portfolio - the portfolio of Sara Ringkow Petersen"
  ogdescription="See other projects that Sara did throughout her studies"
>
  <!-- Other Projects Section -->
  <section
    id="other-projects"
    class="container grid grid-cols-12 md:pt-desktop-top pt-mobil-top md:mt-16 mt-8 md:px-0 px-6 mx-auto relative max-w-6xl md:text-left text-center"
  >
    <div class="relative col-span-12 md:pt-12 pt-16">
      <h1 class="heading-title font-bold md:text-left text-center text-gray-950 mb-4">Other projects</h1>
      <p class="heading-text leading-6 text-gray-950 md:pb-0 pb-16 max-w-3xl">
        A collection of some of my least favourite projects. There are some unfinished ones, and then there's ones that I'm just not proud of&mdash;
        but they're still worth checking out.
      </p>
    </div>

    <div id="lines" class="hidden md:block col-span-9 md:pb-20 pb-8">
      <hr class="border-gray-950 mt-6 md:w-[70%] w-[90%]" />
      <hr class="border-gray-950 mt-3 md:w-[50%] w-[70%]" />
    </div>

    <div id="other-projects-grid" class="col-span-12 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-gap text-left">
      <Card
        url="https://sararingkow.dk/kea/04_animation/website/index.html"
        image="/images/animation-site.webp"
        titleMain="Animation-site"
        Semester="Semester: "
        Year="1st semester"
        description="This was the third project on 1st semester. Here, we had to make a game from scratch using Javascript and CSS. Things were looking good, until it didn't. I messed up big-time on the coding-part, which resulted in the game not working at all. I also didn't manage to make a proper landing-page for it."
        ariaLabel="View project: Animation-site (1st semester)"
        tools={["HTML", "CSS", "JS"]}
      />
      <Card
        url="https://sararingkow.github.io/videosite_v3/"
        image="/images/videosite.webp"
        titleMain="Video-site"
        Semester="Semester: "
        Year="1st semester"
        tools={["HTML", "CSS", "JS"]}
        description="This was the fourth project on 1st semester. Here, we had to go out and film an interview of a person with a certain passion, and then make a site for it. Although I am proud of the video-product itself, I'm not so proud of the site that I made for it. I just feel like I could've done much more with it."
        ariaLabel="View project: Video-site (1st semester)"
      />
      <Card
        url="https://vild-mad.netlify.app/"
        image="/images/vildmad.webp"
        titleMain="Vild Mad"
        Semester="Semester: "
        Year="2nd semester"
        tools={["HTML", "CSS", "JSON", "JS"]}
        description="This was the first case-project on 2nd semester. Here, we had to make a website— subsequent to the original —for an organisation called Vild Mad. If I hadn't ended up in a group with a bad work-dynamic, I think this project would've turned out great."
        ariaLabel="View project: Vild Mad (2nd semester case-project)"
      />
      <Card
        url="https://digitalskraldedag-dk.netlify.app/"
        image="/images/digital_cleanup_day.webp"
        titleMain="Digital Skraldedag"
        Semester="Semester: "
        Year="3rd semester"
        tools={["Astro", "Tailwind", "JS"]}
        description="This was the first case-project on 3rd semester. Here, we had to make a Danish pendant to a campaign called Digital Cleanup Day. In the beginning, I really liked where we were going with this project. But, I just didn't like the way it ended up turning out."
        ariaLabel="View project: Digital Skraldedag 2025 (3rd semester case-project)"
      />
      <Card
        image="/images/404_error.webp"
        titleMain="No project yet"
        Semester="Semester: "
        Year="TBA"
        description="No project has been done yet. Please stay tuned."
        tools={["No tools"]}
      />
      <Card
        image="/images/404_error.webp"
        titleMain="No project yet"
        Semester="Semester: "
        Year="TBA"
        description="No project has been done yet. Please stay tuned."
        tools={["No tools"]}
      />
    </div>
  </section>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 md:pt-12 pt-16 text-center">
    <a href="/" class="mt-8 btn_container">
      <Button variant="primary" size="small">Back to homepage</Button>
    </a>
  </section>

  <style>
    body.dark .heading-title,
    body.dark .heading-text {
      color: #f6f6f6;
    }

    body.dark #lines hr {
      border-color: #6d6d6d;
    }
  </style>

  <script>
    import { inView } from "motion";

    /** inView Animations */
    document.addEventListener("DOMContentLoaded", () => {
      const reduceMotion = document.body.classList.contains("reduce-motion");

      if (!reduceMotion) {
        const elementmedanimation2 = document.querySelector(".heading-title");
        inView(elementmedanimation2, () => {
          elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
        });

        const elementmedanimation3 = document.querySelector(".heading-text");
        inView(elementmedanimation3, () => {
          elementmedanimation3.classList.add("animate__animated", "animate__backInLeft");
        });

        const elementmedanimation4 = document.querySelector(".button-container");
        inView(elementmedanimation4, () => {
          elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
        });
      }
    });
  </script>
</MainLayout>
