---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout title="Other projects">
  <!-- Other Projects Section -->
  <div id="cursor"></div>
  <section id="other-projects" class="container mx-auto py-16 px-4 bg-gray-800 bg-opacity-70 rounded-lg shadow-lg">
    <h2 class="font-bold text-gray-300 text-center pt-32">Other projects</h2>
    <p class="mt-4 text-gray-400 text-center leading-7 max-w-4xl mx-auto">
      In addition to my highlighted projects, there was also the projects that I was least proud of. It's everything from unfinished projects to
      projects that I just don't like. Here are the current ones.
    </p>

    <div class="mt-8 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Project 1 -->
      <a href="https://sararingkow.dk/kea/04_animation/website/index.html" target="_blank">
        <div id="project-1" class="bg-gray-700 p-6 rounded-lg shadow hover:shadow-lg transition">
          <div class="h-[300px] bg-cover bg-center rounded-t-lg" style="background-image: url('/images/animation-site.webp');"></div>
          <h4 class="text-xl font-semibold text-gray-300 mt-4">Animation site <br /> (first semester project)</h4>
          <p class="text-gray-300 mt-2 leading-7">
            This project was the third project on 1st semester. Here, we had to make a game from scratch using JavaScript and CSS. Things were looking
            good with the project, until it didn't. I messed up big time on the coding-part, which resulted in the project not working at all. And on
            top of that, I didn't manage to make a proper landing-page for it, because coding the overall project took me a lot of time. This would
            have been a project that I would've been proud of, if I hadn't messed up so badly. <br /><br />
            <em class="text-gray-400">(Although it's largely unfinished due to the many setbacks, you can still go check it out)</em>
          </p>
        </div>
      </a>

      <!-- Project 2 -->
      <a href="https://sararingkow.github.io/videosite_v3/" target="_blank">
        <div id="project-2" class="bg-gray-700 p-6 rounded-lg shadow hover:shadow-lg transition">
          <div class="h-[300px] bg-cover bg-center rounded-t-lg" style="background-image: url('/images/videosite.webp');"></div>
          <h4 class="text-xl font-semibold text-gray-300 mt-4">Video-site (first semester project)</h4>
          <p class="text-gray-300 mt-2 leading-7">
            This project was the fourth project on 1st semester. Here, we had to go out and film an interview of a person with a certain passion, and
            then make a site for it. Although I am proud of the video-product itself, I'm not so proud of the site that I made for it. I feel like I
            could've done so much more with it to capture the essence of the person we had interviewed, but I just think it's so messy and hastily
            done. It's not that I'm not proud of it and that it wasn't a fun project. It's just about the fact that I don't like the overall look of
            it.<br /><br />
            <em class="text-gray-400">(Although I don't like the site because of its messiness, you can still go check it out)</em>
          </p>
        </div>
      </a>

      <!-- Project 3 -->
      <a href="https://vild-mad.netlify.app/" target="_blank">
        <div id="project-3" class="bg-gray-700 p-6 rounded-lg shadow hover:shadow-lg transition">
          <div class="h-[300px] bg-cover bg-center rounded-t-lg" style="background-image: url('/images/vildmad.webp');"></div>
          <h4 class="text-xl font-semibold text-gray-300 mt-4">Vild Mad<br /> (second semester case-project)</h4>
          <p class="text-gray-300 mt-2 leading-7">
            This project was the first case-project on 2nd semester. Here, we had to make a website&mdash; subsequent to the original &mdash;for an
            organisation called <em>Vild Mad</em>. If I hadn't ended up in a group with a bad work-dynamic, I think this project would've turned out
            great. We just couldn't make things work, and we were really falling behind. The site has a lot of missing features, due to the fact that
            we had a group-member that partly refused to work with us, and prefered to do his work individually. <br /><br />
            <em class="text-gray-400">(Although it was a good example of a bad work-dynamic, you can still go check it out)</em>
          </p>
        </div>
      </a>

      <!-- Project 4 -->
      <a href="https://digitalskraldedag-dk.netlify.app/" target="_blank">
        <div id="project-4" class="bg-gray-700 p-6 rounded-lg shadow hover:shadow-lg transition">
          <div class="h-[300px] bg-cover bg-center rounded-t-lg" style="background-image: url('/images/digital_cleanup_day.webp');"></div>
          <h4 class="text-xl font-semibold text-gray-100 mt-4">Digital Skraldedag 2025 <br /> (third semester case-project)</h4>
          <p class="text-gray-300 mt-2 leading-7">
            This project was the first case-project on 3rd semester. Here, we had to make a Danish pendant to a campaign called <em
              >Digital Cleanup Day</em
            >. In the beginning, I really liked where we were going with this project. But, I just didn't like the way it ended up turning out. It
            didn't work as well as I had hoped, and I just think it just looks messy, unprofessional and unfinished. <br /><br />
            <em class="text-gray-400">(Although I don't like the look of it and aren't proud of it, you can still go check it out)</em>
          </p>
        </div>
      </a>

      <!-- Project 5 -->
      <div id="project-5" class="bg-gray-700 p-6 rounded-lg shadow hover:shadow-lg transition">
        <div class="h-[300px] bg-cover bg-center rounded-t-lg" style="background-image: url('/images/404_error.webp');"></div>
        <h4 class="text-xl font-semibold text-gray-100 mt-4">No Project Yet</h4>
        <p class="text-gray-400 mt-2 leading-7">No project has been done yet. Please stay tuned.</p>
      </div>

      <!-- Project 6 -->
      <div id="project-6" class="bg-gray-700 p-6 rounded-lg shadow hover:shadow-lg transition">
        <div class="h-[300px] bg-cover bg-center rounded-t-lg" style="background-image: url('/images/404_error.webp');"></div>
        <h4 class="text-xl font-semibold text-gray-100 mt-4">No Project Yet</h4>
        <p class="text-gray-400 mt-2 leading-7">No project has been done yet. Please stay tuned.</p>
      </div>
    </div>
  </section>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-12 pt-8 text-center">
    <a
      href="/"
      class="relative z-[1] text-gray-100 bg-site-red font-bold rounded-lg text-sm px-6 py-3 inline-flex items-center justify-center overflow-hidden group mt-8 transition duration-300 uppercase"
    >
      <span class="button-text text-sm relative z-[1] w-full text-center uppercase">Back to homepage</span>
      <span class="button-bg absolute inset-0 bg-red-700 transition-transform duration-500 ease-in-out translate-x-full group-hover:translate-x-0"
      ></span>
    </a>
  </section>
</MainLayout>

<style>
  #project-1:hover,
  #project-2:hover,
  #project-3:hover,
  #project-4:hover,
  #project-5:hover,
  #project-6:hover {
    transform: translate(0, 5px);
    transition: transform 0.3s ease;
  }

  .button-container a:hover {
    transform: translate(0, -5px);
    transition: transform 0.3s ease;
  }
</style>

<script>
  import { animate, inView } from "motion";
  /*Entrance Animation*/
  animate("body", { opacity: [0, 1] }, { duration: 1 });

  // Custom cursor
  (function () {
    var mousePos;
    var moved = false;

    document.onmousemove = handleMouseMove;
    setInterval(getMousePosition, 100);

    function handleMouseMove(event) {
      var eventDoc, doc, body;

      moved = true;

      event = event || window.event;
      if (event.pageX == null && event.clientX != null) {
        eventDoc = (event.target && event.target.ownerDocument) || document;
        doc = eventDoc.documentElement;
        body = eventDoc.body;

        event.pageX =
          event.clientX + ((doc && doc.scrollLeft) || (body && body.scrollLeft) || 0) - ((doc && doc.clientLeft) || (body && body.clientLeft) || 0);
        event.pageY =
          event.clientY + ((doc && doc.scrollTop) || (body && body.scrollTop) || 0) - ((doc && doc.clientTop) || (body && body.clientTop) || 0);
      }

      mousePos = {
        x: event.pageX,
        y: event.pageY,
      };
    }

    function getMousePosition() {
      var pos = mousePos;

      if (!pos) {
        // We haven't seen any movement yet
      } else if (moved === true) {
        // Use pos.x and pos.y
        console.log("Pos:", pos.x, pos.y);
        moved = false;
        var cursor = document.querySelector("#cursor");
        cursor.style.left = pos.x + "px";
        cursor.style.top = pos.y + "px";
      }
    }
  })();
</script>
