---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout
  title="Thank you"
  description="Thank you for your submission"
  ogtitle="SRP portfolio - thank you"
  ogdescription="Thank you for your message-submission"
>
  <!-- Thank you for your submission! -->
  <div class="min-h-screen flex items-center justify-center px-4">
    <div class="max-w-lg w-full text-center space-y-8">
      <h1 class="heading-title text-6xl font-bold text-grey-500 uppercase">Thank you!</h1>
      <p class="heading-text text-xl leading-7 text-gray-300">Your message has been sent successfully. I'll get back to you as soon as possible.</p>
      <div class="button-container mt-8">
        <a
          href="./"
          class="form-button relative text-grey-500 bg-red-500 font-bold rounded-lg text-sm px-5 py-2.5 inline-flex items-center justify-center overflow-hidden group w-full md:w-[45%] mt-4 transition duration-300 hover:shadow-lg hover:shadow-red-500 hover:bg-red-600"
        >
          <span class="button-text text-sm relative z-[1] w-full uppercase">Back to homepage</span>
          <span
            class="absolute inset-0 bg-gradient-to-r from-red-600 to-red-800 transition-all duration-500 ease-in-out translate-x-full group-hover:translate-x-0"
          ></span>
        </a>
      </div>
    </div>

    <script>
      import { animate, inView } from "motion";
      /*Entrance Animation*/
      animate("body", { opacity: [0, 1] }, { duration: 1 });

      /** inView Animations */
      const elementmedanimation1 = document.querySelector(".heading-title");
      inView(elementmedanimation1, () => {
        elementmedanimation1.classList.add("animate__animated", "animate__backInRight");
      });

      const elementmedanimation2 = document.querySelector(".heading-text");
      inView(elementmedanimation2, () => {
        elementmedanimation2.classList.add("animate__animated", "animate__backInLeft");
      });

      const elementmedanimation3 = document.querySelector(".button-container");
      inView(elementmedanimation3, () => {
        elementmedanimation3.classList.add("animate__animated", "animate__fadeInRight");
      });
    </script>
  </div>
</MainLayout>
