---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
import HomepageBtn from "../components/HomepageBtn.astro";
import TutorialCard from "../components/TutorialCard.astro";
---

<MainLayout
  title="Tutorials & tips"
  description="Tutorials and tips from the creator of the portfolio"
  ogtitle="SRP portfolio - tutorials & tips"
  ogdescription="Tutorials and tips from the creator"
>
  <!-- Tutorials Section -->
  <div id="tutorials">
    <section class="container mx-auto py-8 px-4 bg-blue-800 bg-opacity-70 rounded-lg shadow-lg">
      <h2 id="tutorials-title" class="max-w-2xl mx-auto font-bold md:text-left text-center text-grey-500 md:pt-36 pt-32">Tutorials & tips</h2>
      <p id="tutorials-text" class="text-grey-600 max-w-2xl mx-auto md:text-left text-center leading-7 pb-16 mt-4">
        Here are some of the tutorials, articles, and tips that I've found most useful during my studies. Here, you can find everything from
        CSS-tutorials and design-tips, to documentations on how the frameworks I use work.
      </p>
      <div id="tutorials-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <TutorialCard
          title="CSS flexbox layout-guide"
          subtitle="CSS Tricks"
          subtitleBreak={true}
          description="Learn the base-fundamentals of CSS flexbox, how it works in practice, and how to use it."
          link="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
          ariaLabel="CSS Tricks article"
          extraSpacing={true}
        />

        <TutorialCard
          title="Master Figma variables in 7 minutes"
          subtitle="Flux Academy"
          description="Learn more about how variables in Figma works, and how to use it effectively in your projects."
          link="https://www.youtube.com/watch?v=GUupJJC5Ac4&ab_channel=FluxAcademy"
          ariaLabel="Flux Academy video"
        />

        <TutorialCard
          title="A deep-dive into responsive web-design"
          subtitle="Medium"
          description="Understand the key-principles behind responsive web-design, and how to implement them."
          link="https://medium.com/design-bootcamp/a-deep-dive-into-responsive-web-design-principles-6106957a45a1"
          ariaLabel="Medium article"
        />

        <TutorialCard
          title="Utility-first fundamentals"
          subtitle="Tailwind"
          description="Learn about Tailwind's utility-first approach to styling, and how to properly make use of it."
          link="https://tailwindcss.com/docs/utility-first"
          ariaLabel="Tailwind documentation"
        />

        <TutorialCard
          title="Getting started with the basics"
          subtitle="Astro"
          description="Learn how to get started with Astro, and get familiar with the basics."
          link="https://docs.astro.build/en/getting-started/"
          ariaLabel="Astro documentation"
        />

        <TutorialCard
          title="Design-systems 101"
          subtitle="NN Group"
          subtitleBreak={true}
          description="Learn about the basics of design-systems, what they're used for and how they work."
          link="https://www.nngroup.com/articles/design-systems-101/"
          ariaLabel="NN Group article"
        />
      </div>
    </section>
  </div>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-16 pt-8 text-center">
    <HomepageBtn />
  </section>

  <script>
    import { animate, inView } from "motion";
    /*Entrance Animation*/
    animate("body", { opacity: [0, 1] }, { duration: 1 });

    /** inView Animations */
    const elementmedanimation1 = document.querySelector("#tutorials-grid");
    inView(elementmedanimation1, () => {
      elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation2 = document.querySelector("#tutorials-title");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
    });

    const elementmedanimation3 = document.querySelector("#tutorials-text");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__backInLeft");
    });

    const elementmedanimation4 = document.querySelector(".button-container");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
    });
  </script>
</MainLayout>
