---
import MainLayout from "../layouts/MainLayout.astro";
import "../styles/global.css";
---

<MainLayout
  title="Tutorials & tips"
  description="Tutorials and tips from the creator of the portfolio"
  ogtitle="SRP portfolio - tutorials & tips"
  ogdescription="Tutorials and tips from the creator"
>
  <!-- BTS Section -->
  <div id="cursor"></div>
  <!-- Tutorials Section -->
  <div id="tutorials">
    <section class="container mx-auto py-8 px-4 bg-gray-800 bg-opacity-70 rounded-lg shadow-lg">
      <h2 id="tutorials-title" class="max-w-2xl mx-auto font-bold md:text-left text-center text-[#fafafa] md:pt-40 pt-32">Tutorials & tips</h2>
      <p id="tutorials-text" class="text-gray-300 max-w-2xl mx-auto md:text-left text-center leading-7 pb-16 mt-4">
        Here are some of the tutorials, articles, and tips that I've found most useful during my studies. Here, you can find everything from
        CSS-tutorials and design-tips, to documentations on how the frameworks I use work.
      </p>
      <div id="tutorials-grid" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8">
        <!-- Tutorial Card 1 -->
        <div class="bg-gray-700 bg-opacity-80 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-[#fafafa]">CSS flexbox layout guide <br /><em class="text-gray-400">(CSS Tricks)</em></h3>
          <p class="mt-6 text-gray-300">Learn the base-fundamentals of CSS flexbox, how it works in practice, and how to use it.</p>
          <a
            href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/"
            target="_blank"
            class="text-sm mt-6 mb-2 inline-block text-site-red hover:text-[#fafafa] border border-site-red hover:bg-site-red transition duration-300 px-4 py-2 rounded-lg uppercase"
            >Read More</a
          >
        </div>
        <!-- Tutorial Card 2 -->
        <div class="bg-gray-700 bg-opacity-80 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-[#fafafa]">Master Figma variables in 7 minutes <em class="text-gray-400">(Flux Academy)</em></h3>
          <p class="mt-6 text-gray-300">Learn more about how variables in Figma works, and how to use it effectively in your projects.</p>
          <a
            href="https://www.youtube.com/watch?v=GUupJJC5Ac4&ab_channel=FluxAcademy"
            target="_blank"
            class="text-sm mt-6 mb-2 inline-block text-site-red hover:text-[#fafafa] border border-site-red hover:bg-site-red transition duration-300 px-4 py-2 rounded-lg uppercase"
            >Read More</a
          >
        </div>
        <!-- Tutorial Card 3 -->
        <div class="bg-gray-700 bg-opacity-80 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-[#fafafa]">A deep-dive into responsive web-design <em class="text-gray-400">(Medium)</em></h3>
          <p class="mt-6 text-gray-300">Understand the key-principles behind responsive web-design, and how to implement them.</p>
          <a
            href="https://medium.com/design-bootcamp/a-deep-dive-into-responsive-web-design-principles-6106957a45a1"
            target="_blank"
            class="text-sm mt-6 mb-2 inline-block text-site-red hover:text-[#fafafa] border border-site-red hover:bg-site-red transition duration-300 px-4 py-2 rounded-lg uppercase"
            >Read More</a
          >
        </div>
        <!-- Tutorial Card 4 -->
        <div class="bg-gray-700 bg-opacity-80 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-[#fafafa]">Utility-first fundamentals <em class="text-gray-400">(Tailwind)</em></h3>
          <p class="mt-6 text-gray-300">Learn about Tailwind's utility-first approach to styling, and how to properly make use of it.</p>
          <a
            href="https://tailwindcss.com/docs/utility-first"
            target="_blank"
            class="text-sm mt-6 mb-2 inline-block text-site-red hover:text-[#fafafa] border border-site-red hover:bg-site-red transition duration-300 px-4 py-2 rounded-lg uppercase"
            >Read More</a
          >
        </div>
        <!-- Tutorial Card 5 -->
        <div class="bg-gray-700 bg-opacity-80 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-[#fafafa]">Getting started with the basics <em class="text-gray-400">(Astro)</em></h3>
          <p class="mt-6 text-gray-300">Learn how to get started with Astro, and get familiar with the basics.</p>
          <a
            href="https://docs.astro.build/en/getting-started/"
            target="_blank"
            class="text-sm mt-6 mb-2 inline-block text-site-red hover:text-[#fafafa] border border-site-red hover:bg-site-red transition duration-300 px-4 py-2 rounded-lg uppercase"
            >Read More</a
          >
        </div>

        <!-- Tutorial Card 6 -->
        <div class="bg-gray-700 bg-opacity-80 p-6 rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300">
          <h3 class="text-2xl font-semibold text-[#fafafa]">Design-systems 101 <br /> <em class="text-gray-400">(NN Group)</em></h3>
          <p class="mt-6 text-gray-300">Learn about the basics of design-systems, what they're used for and how they work.</p>
          <a
            href="https://www.nngroup.com/articles/design-systems-101/"
            target="_blank"
            class="text-sm mt-6 mb-2 inline-block text-site-red hover:text-[#fafafa] border border-site-red hover:bg-site-red transition duration-300 px-4 py-2 rounded-lg uppercase"
            >Read More</a
          >
        </div>
      </div>
    </section>
  </div>

  <!-- Navigation Back to Portfolio -->
  <section class="button-container mx-auto pb-12 pt-8 text-center">
    <a
      href="/"
      class="relative z-[1] text-[#fafafa] bg-site-red font-bold rounded-lg text-sm px-6 py-3 inline-flex items-center justify-start overflow-hidden group mt-8 transition duration-300 uppercase hover:shadow-xl hover:shadow-red-600/50 hover:bg-red-600"
    >
      <span class="button-text text-sm relative z-[1] w-full text-center uppercase">Back to homepage</span>
      <span
        class="absolute inset-0 bg-gradient-to-r from-red-600 to-red-800 transition-all duration-500 ease-in-out translate-x-full group-hover:translate-x-0"
      ></span>
    </a>
  </section>

  <script>
    import { animate, inView } from "motion";
    /*Entrance Animation*/
    animate("body", { opacity: [0, 1] }, { duration: 1 });

    // Custom cursor
    (function () {
      var mousePos;
      var moved = false;

      document.onmousemove = handleMouseMove;
      setInterval(getMousePosition, 100);

      function handleMouseMove(event) {
        var eventDoc, doc, body;

        moved = true;

        event = event || window.event;
        if (event.pageX == null && event.clientX != null) {
          eventDoc = (event.target && event.target.ownerDocument) || document;
          doc = eventDoc.documentElement;
          body = eventDoc.body;

          event.pageX =
            event.clientX + ((doc && doc.scrollLeft) || (body && body.scrollLeft) || 0) - ((doc && doc.clientLeft) || (body && body.clientLeft) || 0);
          event.pageY =
            event.clientY + ((doc && doc.scrollTop) || (body && body.scrollTop) || 0) - ((doc && doc.clientTop) || (body && body.clientTop) || 0);
        }

        mousePos = {
          x: event.pageX,
          y: event.pageY,
        };
      }

      function getMousePosition() {
        var pos = mousePos;

        if (!pos) {
          // We haven't seen any movement yet
        } else if (moved === true) {
          // Use pos.x and pos.y
          console.log("Pos:", pos.x, pos.y);
          moved = false;
          var cursor = document.querySelector("#cursor");
          cursor.style.left = pos.x + "px";
          cursor.style.top = pos.y + "px";
        }
      }
    })();

    /** inView Animations */
    const elementmedanimation1 = document.querySelector("#tutorials-grid");
    inView(elementmedanimation1, () => {
      elementmedanimation1.classList.add("animate__animated", "animate__fadeInLeft");
    });

    const elementmedanimation2 = document.querySelector("#tutorials-title");
    inView(elementmedanimation2, () => {
      elementmedanimation2.classList.add("animate__animated", "animate__backInRight");
    });

    const elementmedanimation3 = document.querySelector("#tutorials-text");
    inView(elementmedanimation3, () => {
      elementmedanimation3.classList.add("animate__animated", "animate__backInLeft");
    });

    const elementmedanimation4 = document.querySelector(".button-container");
    inView(elementmedanimation4, () => {
      elementmedanimation4.classList.add("animate__animated", "animate__fadeInRight");
    });
  </script>
</MainLayout>
