---
import { style } from "motion";

const { variant = "primary", size = "medium" } = Astro.props;

const buttonStyling =
  "main-button relative z-10 rounded-[5px] border border-gray-950 text-sm px-6 py-3 transition duration-300 ease-in-out uppercase focus:outline-none focus:ring-2 focus:ring-red-300";

const variantClasses = {
  primary: "text-gray-50 bg-red-500 hover:bg-red-600",
};

const sizeClasses = {
  large: "text-3xl",
  medium: "text-2xl",
  small: "text-md",
};
---

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot button /></button>

<style>
  body.dark .main-button {
    background-color: transparent;
    color: #f6f6f6;
    border: #f6f6f6 1px solid;
    font-weight: 500;
  }

  body.dark .main-button:hover {
    background-color: #d3302f;
    color: #f6f6f6;
    border: #d3302f 1px solid;
  }
</style>
