---
import { style } from "motion";

const { variant = "primary", size = "medium" } = Astro.props;

const buttonStyling = "px-6 py-[10px] font-semibold rounded-[5px] transition duration-300 uppercase";

const variantClasses = {
  primary:
    "main-button text-gray-50 bg-blue-500 border-blue-500 hover:bg-blue-600 hover:border-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300 ease-in-out",
  secondary:
    "secondary-button text-gray-50 bg-gray-800 hover:bg-gray-600 hover:border-gray-600 focus:outline-none focus:ring-2 focus:ring-blue-300 ease-in-out",
};

const sizeClasses = {
  large: "text-3xl",
  medium: "text-2xl",
  small: "text-[14px]",
};
---

<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size]]}><slot button /></button>

<style>
  body.dark .main-button {
    background-color: transparent;
    color: #f6f6f6;
    border: #f6f6f6 1px solid;
    font-weight: 700;
  }

  body.dark .main-button:hover {
    background-color: #3a7cf7;
    color: #f6f6f6;
    border: #3a7cf7 1px solid;
  }

  body.dark .secondary-button {
    background-color: transparent;
    color: #f6f6f6;
    border: #f6f6f6 1px solid;
    font-weight: 700;
  }

  body.dark .secondary-button:hover {
    background-color: #5d5d5d;
    color: #f6f6f6;
    border: #5d5d5d 1px solid;
  }
</style>
