---
import "../styles/global.css";
---

<header class="fixed top-0 left-0 right-0 p-6 bg-gray-800 text-[#fafafa] shadow-md z-50" x-data="{ showmenu: false, showDropdown: false }">
  <nav class="container mx-auto flex justify-between items-center">
    <!-- Logo Section -->
    <div id="logo" class="relative font-bold transition-opacity duration-300 ease-in-out group w-20 h-20">
      <a href="/#hero" class="relative inline-block w-full h-full">
        <img
          src="/logo.svg"
          alt="logo"
          class="opacity-100 group-hover:opacity-0 transition-opacity duration-300 ease-in-out object-contain w-full h-full"
        />
        <img
          src="/logo_grey.svg"
          alt="logo grey"
          class="absolute inset-0 opacity-0 group-hover:opacity-100 transition-opacity duration-300 ease-in-out object-contain w-full h-full"
        />
      </a>
    </div>

    <!-- Desktop Navigation -->
    <ul class="some1 hidden lg:flex space-x-6 items-center">
      <li><a href="/#about" class="hover:text-site-red py-2">About</a></li>
      <li><a href="/#values" class="hover:text-site-red py-2">Values</a></li>
      <li><a href="/#skills" class="hover:text-site-red py-2">Skills</a></li>
      <li><a href="/#projects" class="hover:text-site-red py-2">Projects</a></li>

      <!-- Explore Dropdown with Arrow -->
      <li class="relative" @mouseenter="showDropdown = true" @mouseleave="showDropdown = false">
        <a href="#" class="hover:text-site-red py-2 flex items-center">
          Explore
          <svg
            class="w-4 h-4 ml-2 transition-transform duration-300 transform"
            :class="{ 'rotate-180': showDropdown }"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
          >
            <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
          </svg>
        </a>
        <div x-show="showDropdown" x-transition class="absolute left-0 mt-2 w-48 bg-gray-800 border border-gray-700 rounded-lg shadow-lg z-10">
          <ul>
            <li class="py-2 px-4 transition duration-300"><a href="/other" class="hover:text-site-red py-2">Other projects</a></li>
            <li class="py-2 px-4 transition duration-300"><a href="/about_me" class="hover:text-site-red py-2">More about me</a></li>
            <li class="py-2 px-4 transition duration-300"><a href="/gallery" class="hover:text-site-red py-2">Gallery & media</a></li>
            <li class="py-2 px-4 transition duration-300"><a href="/tutorial" class="hover:text-site-red py-2">Tutorials & tips</a></li>
          </ul>
        </div>
      </li>

      <!-- Vertical Divider -->
      <div class="border-r border-[#fafafa] h-6 mx-2"></div>

      <li><a href="/#resources" class="hover:text-site-red py-2">Contact</a></li>
    </ul>

    <!-- Burger Menu Button (Mobile Only) -->
    <button id="burgermenu" class="lg:hidden" x-on:click="showmenu = !showmenu">
      <template x-if="showmenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 text-gray-200 hover:text-site-red transition duration-300"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </template>
      <template x-if="!showmenu">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="size-8 text-gray-200 hover:text-site-red transition duration-300"
        >
          <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
        </svg>
      </template>
    </button>
  </nav>

  <!-- Mobile Menu (Hidden on Larger Screens) -->
  <nav
    id="mobilmenu"
    class="flex flex-col content-center pt-4 lg:hidden"
    x-show="showmenu"
    x-transition=""
    x-on:click="showmenu = false"
    x-on:click.outside="showmenu = false"
    style="display: none;"
  >
    <ul>
      <li class="some1 text-center drop-shadow-md py-3 hover:text-[#FF3333] transition duration-300">
        <a href="/#hero">Home</a>
      </li>
      <li class="some1 text-center drop-shadow-md py-3 hover:text-[#FF3333] transition duration-300">
        <a href="/#about">About</a>
      </li>
      <li class="some1 text-center drop-shadow-md py-3 hover:text-[#FF3333] transition duration-300">
        <a href="/#values">Values</a>
      </li>
      <li class="some1 text-center drop-shadow-md py-3 hover:text-[#FF3333] transition duration-300">
        <a href="/#skills">Skills</a>
      </li>
      <li class="some1 text-center drop-shadow-md py-3 hover:text-[#FF3333] transition duration-300">
        <a href="/#projects">Projects</a>
      </li>
      <li class="some1 text-center drop-shadow-md py-3 hover:text-[#FF3333] transition duration-300">
        <a href="/#resources">Contact</a>
      </li>
    </ul>
  </nav>
</header>
