---

---

<a
  href="/"
  class="relative z-[1] text-grey-500 bg-red-500 font-bold rounded-lg text-sm px-6 py-3 inline-flex items-center justify-start overflow-hidden group mt-8 transition duration-300 uppercase hover:shadow-lg hover:shadow-red-500 hover:bg-red-600"
>
  <span class="button-text text-sm relative z-[1] w-full text-center uppercase">Back to homepage</span>
  <span
    class="absolute inset-0 bg-gradient-to-r from-red-600 to-red-800 transition-all duration-500 ease-in-out translate-x-full group-hover:translate-x-0"
  ></span>
</a>
