---

---

<!-- Progress-bar placeret i toppen af sitet -->
<div class="progress-container fixed w-full overflow-x-hidden top-0 left-0 z-50">
  <div class="progress-bar h-2 bg-gradient-to-l from-site-red to-site-red/50 origin-top-left"></div>
</div>

<script>
  import { animate, scroll } from "motion";
  /*Progress-baren/læseindikatoren */
  scroll(animate(".progress-bar", { scaleX: [0, 1] }));
</script>
